<a href="https://colab.research.google.com/github/NehaSrinivas98/MachineLearningCourse/blob/main/pandasNumpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=CMEWVn1uZpQ&t=72s

# **1.Pandas**
Pandas is an open-source Python library widely used for data manipulation and analysis. It provides powerful and flexible data structures, particularly Series and DataFrames, that make working with "relational" or "labeled" data intuitive and efficient.

###a. Pandas/Python vs Excel
  1. Excel can handle 1 million rows Pandas/Python can handle millions and millions of rows
  2. Pandas/Python can handle complex data structure when compared to excel
  3. Pandas/Python is good for automation where as excel is not automatable.
  4. Pandas/Python has cross compatibility where as excel does not.

###b. Arrays
* 1D array : Series
* 2D array: Dataframe

###c.Dataframe
  * A DataFrame in Python is a two-dimensional, labeled data structure provided by the pandas library. It is designed for data manipulation and analysis, resembling a table or spreadsheet with rows and columns.
  * Index starts with 0
  * Dataframe can store int,str,tuple etc
  * column names are also known as Features
  * Row values are also known as Observation
  * We will get errors when we try to store different data types data in same column.
  * Pandas vs Excel terminology

<table>
  <tr>
    <th>
      Excel
    </th>
    <th>
      Pandas
    </th>
  </tr>
  <tr>
    <td>
      Worksheet
    </td>
    <td>
      Dataframe
    </td>
  </tr>
  <tr>
    <td>
      Row heading
    </td>
    <td>
      Index
    </td>
  </tr>
  <tr>
    <td>
      Row
    </td>
    <td>
      Row
    </td>
  </tr>
  <tr>
    <td>
      Empty Cell
    </td>
    <td>
      Nan
    </td>
  </tr>
</table>

### d. Creating a dataframe

In [ ]:
import pandas as pd
import numpy as np

##### i. Using Array

In [ ]:
#1.Numpy
data = np.array([[1,4],[2,5],[3,6]])
pd.DataFrame(data,index=['row1','row2','row3'],
             columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [ ]:
#2. List
data = [[1,4],[2,5],[3,6]]
pd.DataFrame(data,index=['row1','row2','row3'],
             columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     6

##### ii. Using Dictionaries

In [ ]:
states = ['California','Texus','Florida','New York']
population = [1234,5678,9012,2345]
# storing lists within dictionaries
dict_state = {'States':states,'Population':population}
pd.DataFrame(dict_state)
df_population = pd.DataFrame(dict_state,index=[1,2,3,4])
print(df_population)

       States  Population
1  California        1234
2       Texus        5678
3     Florida        9012
4    New York        2345

##### iii. Csv

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

import pandas as pd

# Replace with your actual path
file_path = '/content/drive/My Drive/Colab Notebooks/dataSet.csv'
df = pd.read_csv(file_path)

### e. Displaying data in pandas

In [ ]:
import pandas as pd

# Create the dataset
data = {
    "Student_ID": [f"S{str(i).zfill(3)}" for i in range(1, 26)],

    "Name": [
        "Aarav Sharma", "Ananya Verma", "Rohan Patel", "Priya Singh", "Karan Mehta",
        "Sneha Iyer", "Arjun Rao", "Neha Kulkarni", "Vikram Joshi", "Pooja Nair",
        "Rahul Das", "Meera Kapoor", "Siddharth Jain", "Kavya Malhotra", "Amit Kumar",
        "Nisha Gupta", "Varun Bansal", "Isha Choudhary", "Manish Yadav", "Ritu Saxena",
        "Aditya Mishra", "Simran Kaur", "Mohit Aggarwal", "Ayesha Khan", "Tanmay Ghosh"
    ],

    "Age": [
        15, 14, 15, 14, 16, 15, 16, 14, 15, 16,
        15, np.nan, 16, 15, 17, 14, np.nan, 16, 15, 14,
        16, 15, np.nan, 14, 16
    ],

    "Gender": [
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male"
    ],

    "Class": [
        10, 9, 10, 9, 11, 10, 11, 9, 10, 11,
        10, 9, 11, 10, 12, 9, 11, 10, 10, 9,
        11, 10, 12, 9, 11
    ],

    "City": [
        "Delhi", "Mumbai", "Ahmedabad", "Lucknow", "Pune",
        "Chennai", "Bengaluru", "Nagpur", "Jaipur", "Kochi",
        "Kolkata", np.nan, "Indore", "Chandigarh", "Patna",
        "Noida", "Gurgaon", np.nan, "Bhopal", "Udaipur",
        "Allahabad", "Amritsar", "Faridabad", np.nan, "Ranchi"
    ],

    "Address": [
        "12A Green Park", "Sunrise Apartments", "Shree Nagar Society", "Alambagh Colony",
        "Baner Road", "Lake View Street", "Tech Park Residency", "Shanti Nagar",
        "Pink City Enclave", "Palm Grove",
        np.nan, "Lajpat Nagar", "Civil Lines", "Sector 22",
        "Rajendra Nagar", np.nan, "DLF Phase 3", "Model Town",
        "MP Nagar", "Hiran Magri",
        "Civil Lines", "GT Road", np.nan, "Park Street", "Main Road"
    ],

    "Math": [
        85, 92, 76, 88, 90, 95, 70, 82, 68, 89,
        75, 80, np.nan, 86, 91, 78, 84, 88, 73, np.nan,
        90, 87, 65, 72, 88
    ],

    "Science": [
        78, 89, 72, 91, 84, 93, 75, 80, 70, 87,
        74, np.nan, 85, 82, 90, 76, 88, 84, np.nan, 79,
        92, 86, 68, 71, 89
    ],

    "English": [
        88, 90, 70, 85, 86, 92, 73, 78, 65, 90,
        np.nan, 82, 88, 84, 89, 75, 81, 86, 77, 80,
        91, np.nan, 70, 74, 87
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Calculate Total and Average
df["Total"] = df["Math"] + df["Science"] + df["English"]
df["Average"] = df["Total"] / 3

# Display the DataFrame
print(df)

   Student_ID            Name   Age  Gender  Class        City  \
0        S001    Aarav Sharma  15.0    Male     10       Delhi
1        S002    Ananya Verma  14.0  Female      9      Mumbai
2        S003     Rohan Patel  15.0    Male     10   Ahmedabad
3        S004     Priya Singh  14.0  Female      9     Lucknow
4        S005     Karan Mehta  16.0    Male     11        Pune
5        S006      Sneha Iyer  15.0  Female     10     Chennai
6        S007       Arjun Rao  16.0    Male     11   Bengaluru
7        S008   Neha Kulkarni  14.0  Female      9      Nagpur
8        S009    Vikram Joshi  15.0    Male     10      Jaipur
9        S010      Pooja Nair  16.0  Female     11       Kochi
10       S011       Rahul Das  15.0    Male     10     Kolkata
11       S012    Meera Kapoor   NaN  Female      9         NaN
12       S013  Siddharth Jain  16.0    Male     11      Indore
13       S014  Kavya Malhotra  15.0  Female     10  Chandigarh
14       S015      Amit Kumar  17.0    Male     12       Patna
15       S016     Nisha Gupta  14.0  Female      9       Noida
16       S017    Varun Bansal   NaN    Male     11     Gurgaon
17       S018  Isha Choudhary  16.0  Female     10         NaN
18       S019    Manish Yadav  15.0    Male     10      Bhopal
19       S020     Ritu Saxena  14.0  Female      9     Udaipur
20       S021   Aditya Mishra  16.0    Male     11   Allahabad
21       S022     Simran Kaur  15.0  Female     10    Amritsar
22       S023  Mohit Aggarwal   NaN    Male     12   Faridabad
23       S024     Ayesha Khan  14.0  Female      9         NaN
24       S025    Tanmay Ghosh  16.0    Male     11      Ranchi

                Address  Math  Science  English  Total    Average
0        12A Green Park  85.0     78.0     88.0  251.0  83.666667
1    Sunrise Apartments  92.0     89.0     90.0  271.0  90.333333
2   Shree Nagar Society  76.0     72.0     70.0  218.0  72.666667
3       Alambagh Colony  88.0     91.0     85.0  264.0  88.000000
4            Baner Road  90.0     84.0     86.0  260.0  86.666667
5      Lake View Street  95.0     93.0     92.0  280.0  93.333333
6   Tech Park Residency  70.0     75.0     73.0  218.0  72.666667
7          Shanti Nagar  82.0     80.0     78.0  240.0  80.000000
8     Pink City Enclave  68.0     70.0     65.0  203.0  67.666667
9            Palm Grove  89.0     87.0     90.0  266.0  88.666667
10                  NaN  75.0     74.0      NaN    NaN        NaN
11         Lajpat Nagar  80.0      NaN     82.0    NaN        NaN
12          Civil Lines   NaN     85.0     88.0    NaN        NaN
13            Sector 22  86.0     82.0     84.0  252.0  84.000000
14       Rajendra Nagar  91.0     90.0     89.0  270.0  90.000000
15                  NaN  78.0     76.0     75.0  229.0  76.333333
16          DLF Phase 3  84.0     88.0     81.0  253.0  84.333333
17           Model Town  88.0     84.0     86.0  258.0  86.000000
18             MP Nagar  73.0      NaN     77.0    NaN        NaN
19          Hiran Magri   NaN     79.0     80.0    NaN        NaN
20          Civil Lines  90.0     92.0     91.0  273.0  91.000000
21              GT Road  87.0     86.0      NaN    NaN        NaN
22                  NaN  65.0     68.0     70.0  203.0  67.666667
23          Park Street  72.0     71.0     74.0  217.0  72.333333
24            Main Road  88.0     89.0     87.0  264.0  88.000000

In [ ]:
df.head()#returns the first 5 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.000000
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.666667

In [ ]:
df.tail() #returns the last 5 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.000000
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000

In [ ]:
df.head(3) #displays first 3 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667

In [ ]:
df.tail(3) #displays last 3 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000

In [ ]:
df.shape

(25, 12)

In [ ]:
pd.set_option('display.max_rows',None)
df

1.   pd.setOption() is used to configure Pandas to display all rows of a DataFrame when you print it in Google Colab (or any Python environment). By default, Pandas truncates the output if there are too many rows.
2.   it can be reset using pd.reset_option('display.max_rows')
*   display.width:           Width of the display in characters
*   display.max_colwidth :    Max width of each column (use None for unlimited)*   display.precision:      Number of decimal places for floats
*   display.float_format:   Format for floating point numbers (e.g., '{:.2f}'.format)
*   display.expand_frame_repr: Whether to print DataFrames across multiple lines
*   display.large_repr:       How large DataFrames are printed ('truncate' or 'info')
*   display.colheader_justify: Justification of column headers ('left', 'right', 'center')
*   display.show_dimensions:   Whether to show DataFrame shape info when printing
3. the second argument can be 'None' which means display all the rows or some number which represents the number of rows to be displayed

In [ ]:
df.index

RangeIndex(start=0, stop=25, step=1)

In [ ]:
df.columns

Index(['Student_ID', 'Name', 'Age', 'Gender', 'Class', 'City', 'Address',
       'Math', 'Science', 'English', 'Total', 'Average'],
      dtype='object')

In [ ]:
df.dtypes

Student_ID     object
Name           object
Age           float64
Gender         object
Class           int64
City           object
Address        object
Math          float64
Science       float64
English       float64
Total         float64
Average       float64
dtype: object

In [ ]:
df.info

<bound method DataFrame.info of    Student_ID            Name   Age  Gender  Class        City  \
0        S001    Aarav Sharma  15.0    Male     10       Delhi
1        S002    Ananya Verma  14.0  Female      9      Mumbai
2        S003     Rohan Patel  15.0    Male     10   Ahmedabad
3        S004     Priya Singh  14.0  Female      9     Lucknow
4        S005     Karan Mehta  16.0    Male     11        Pune
5        S006      Sneha Iyer  15.0  Female     10     Chennai
6        S007       Arjun Rao  16.0    Male     11   Bengaluru
7        S008   Neha Kulkarni  14.0  Female      9      Nagpur
8        S009    Vikram Joshi  15.0    Male     10      Jaipur
9        S010      Pooja Nair  16.0  Female     11       Kochi
10       S011       Rahul Das  15.0    Male     10     Kolkata
11       S012    Meera Kapoor   NaN  Female      9         NaN
12       S013  Siddharth Jain  16.0    Male     11      Indore
13       S014  Kavya Malhotra  15.0  Female     10  Chandigarh
14       S015      Amit Kumar  17.0    Male     12       Patna
15       S016     Nisha Gupta  14.0  Female      9       Noida
16       S017    Varun Bansal   NaN    Male     11     Gurgaon
17       S018  Isha Choudhary  16.0  Female     10         NaN
18       S019    Manish Yadav  15.0    Male     10      Bhopal
19       S020     Ritu Saxena  14.0  Female      9     Udaipur
20       S021   Aditya Mishra  16.0    Male     11   Allahabad
21       S022     Simran Kaur  15.0  Female     10    Amritsar
22       S023  Mohit Aggarwal   NaN    Male     12   Faridabad
23       S024     Ayesha Khan  14.0  Female      9         NaN
24       S025    Tanmay Ghosh  16.0    Male     11      Ranchi

                Address  Math  Science  English  Total    Average
0        12A Green Park  85.0     78.0     88.0  251.0  83.666667
1    Sunrise Apartments  92.0     89.0     90.0  271.0  90.333333
2   Shree Nagar Society  76.0     72.0     70.0  218.0  72.666667
3       Alambagh Colony  88.0     91.0     85.0  264.0  88.000000
4            Baner Road  90.0     84.0     86.0  260.0  86.666667
5      Lake View Street  95.0     93.0     92.0  280.0  93.333333
6   Tech Park Residency  70.0     75.0     73.0  218.0  72.666667
7          Shanti Nagar  82.0     80.0     78.0  240.0  80.000000
8     Pink City Enclave  68.0     70.0     65.0  203.0  67.666667
9            Palm Grove  89.0     87.0     90.0  266.0  88.666667
10                  NaN  75.0     74.0      NaN    NaN        NaN
11         Lajpat Nagar  80.0      NaN     82.0    NaN        NaN
12          Civil Lines   NaN     85.0     88.0    NaN        NaN
13            Sector 22  86.0     82.0     84.0  252.0  84.000000
14       Rajendra Nagar  91.0     90.0     89.0  270.0  90.000000
15                  NaN  78.0     76.0     75.0  229.0  76.333333
16          DLF Phase 3  84.0     88.0     81.0  253.0  84.333333
17           Model Town  88.0     84.0     86.0  258.0  86.000000
18             MP Nagar  73.0      NaN     77.0    NaN        NaN
19          Hiran Magri   NaN     79.0     80.0    NaN        NaN
20          Civil Lines  90.0     92.0     91.0  273.0  91.000000
21              GT Road  87.0     86.0      NaN    NaN        NaN
22                  NaN  65.0     68.0     70.0  203.0  67.666667
23          Park Street  72.0     71.0     74.0  217.0  72.333333
24            Main Road  88.0     89.0     87.0  264.0  88.000000  >

In [ ]:
df.describe()
#https://www.geeksforgeeks.org/pandas/python-pandas-dataframe-describe-method/

,Age,Class,Math,Science,English,Total,Average
count,22.000000,25.000000,23.000000,23.000000,23.000000,19.000000,19.000000
mean,15.136364,10.160000,82.260870,81.869565,81.782609,246.842105,82.280702
std,0.888844,0.943398,8.534515,7.677028,7.733966,24.723500,8.241167
min,14.000000,9.000000,65.000000,68.000000,65.000000,203.000000,67.666667
25%,14.250000,9.000000,75.500000,75.500000,76.000000,223.500000,74.500000
50%,15.000000,10.000000,85.000000,84.000000,84.000000,253.000000,84.333333
75%,16.000000,11.000000,88.500000,88.500000,88.000000,265.000000,88.333333
max,17.000000,12.000000,95.000000,93.000000,92.000000,280.000000,93.333333

In [ ]:
len(df)

25

In [ ]:
max(df) #In Python, the built-in max() function operates on the column labels, not on the data itself.
#It returns the maximum column name (lexicographically) by default, not based on non-null counts.
#Lexicographical order is basically dictionary order  the way words are ordered in a dictionary.
#For strings, Python compares characters from left to right using their Unicode/ASCII values.
#print("apple" < "banana")   # True, because 'a' < 'b'
#print("cat" < "car")        # False, because 't' > 'r'
#print("A" < "a")            # True, uppercase letters come before lowercase
#print("B" > "A")            # True

'Total'

In [ ]:
print(df['Age'].min())  # returns the minimum value in price column applies for max as well
print(df.count().max()) # returns the number of max non null values
print(df.count()[df.count()==df.count().max()]) # returns the columns in the dataframe which has maximum non null values.

14.0
25
Student_ID    25
Name          25
Gender        25
Class         25
dtype: int64

In [ ]:
print(df.index)
print(max(df.index))

RangeIndex(start=0, stop=25, step=1)
24

In [ ]:
round(df,2)

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.67
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.33
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.67
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.00
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.67
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,95.0,93.0,92.0,280.0,93.33
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,70.0,75.0,73.0,218.0,72.67
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,82.0,80.0,78.0,240.0,80.00
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,68.0,70.0,65.0,203.0,67.67
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,89.0,87.0,90.0,266.0,88.67
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,75.0,74.0,NaN,NaN,NaN
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,80.0,NaN,82.0,NaN,NaN
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,NaN,85.0,88.0,NaN,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,86.0,82.0,84.0,252.0,84.00
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,91.0,90.0,89.0,270.0,90.00
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,78.0,76.0,75.0,229.0,76.33
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,84.0,88.0,81.0,253.0,84.33
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,88.0,84.0,86.0,258.0,86.00
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,73.0,NaN,77.0,NaN,NaN
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,NaN,79.0,80.0,NaN,NaN
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.00
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.67
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.33
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.00

In [ ]:
df['Address']

0          12A Green Park
1      Sunrise Apartments
2     Shree Nagar Society
3         Alambagh Colony
4              Baner Road
5        Lake View Street
6     Tech Park Residency
7            Shanti Nagar
8       Pink City Enclave
9              Palm Grove
10                    NaN
11           Lajpat Nagar
12            Civil Lines
13              Sector 22
14         Rajendra Nagar
15                    NaN
16            DLF Phase 3
17             Model Town
18               MP Nagar
19            Hiran Magri
20            Civil Lines
21                GT Road
22                    NaN
23            Park Street
24              Main Road
Name: Address, dtype: object

In [ ]:
type(df['Address'])

pandas.core.series.Series

In [ ]:
df['Address'].index

RangeIndex(start=0, stop=25, step=1)

In [ ]:
df.Math

0     85.0
1     92.0
2     76.0
3     88.0
4     90.0
5     95.0
6     70.0
7     82.0
8     68.0
9     89.0
10    75.0
11    80.0
12     NaN
13    86.0
14    91.0
15    78.0
16    84.0
17    88.0
18    73.0
19     NaN
20    90.0
21    87.0
22    65.0
23    72.0
24    88.0
Name: Math, dtype: float64

In [ ]:
# advantage of using df['columnName'] over df.columnName is when the column name is having a space the second method is more convinient and we cannot select multiple columns using dot operator

#selecting the columns: order of the columns mentioned in the list is the order of the columns accessed.
# one pair of square brackets returns a series whereas 2 square brackets returns a data frame.
df[['Science','English']]

    Science  English
0      78.0     88.0
1      89.0     90.0
2      72.0     70.0
3      91.0     85.0
4      84.0     86.0
5      93.0     92.0
6      75.0     73.0
7      80.0     78.0
8      70.0     65.0
9      87.0     90.0
10     74.0      NaN
11      NaN     82.0
12     85.0     88.0
13     82.0     84.0
14     90.0     89.0
15     76.0     75.0
16     88.0     81.0
17     84.0     86.0
18      NaN     77.0
19     79.0     80.0
20     92.0     91.0
21     86.0      NaN
22     68.0     70.0
23     71.0     74.0
24     89.0     87.0

In [ ]:
type(df[['Math','English']])

pandas.core.frame.DataFrame

### f. Adding a new column

##### i. With an array

In [ ]:
import numpy as np
#create an array of 25 elements
roll_no = np.arange(1,26)
print(len(roll_no))

25

In [ ]:
df['Roll no'] = roll_no

In [ ]:
df

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average,Roll no
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667,1
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333,2
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667,3
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.000000,4
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.666667,5
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,95.0,93.0,92.0,280.0,93.333333,6
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,70.0,75.0,73.0,218.0,72.666667,7
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,82.0,80.0,78.0,240.0,80.000000,8
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,68.0,70.0,65.0,203.0,67.666667,9
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,89.0,87.0,90.0,266.0,88.666667,10
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,75.0,74.0,NaN,NaN,NaN,11
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,80.0,NaN,82.0,NaN,NaN,12
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,NaN,85.0,88.0,NaN,NaN,13
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,86.0,82.0,84.0,252.0,84.000000,14
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,91.0,90.0,89.0,270.0,90.000000,15
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,78.0,76.0,75.0,229.0,76.333333,16
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,84.0,88.0,81.0,253.0,84.333333,17
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,88.0,84.0,86.0,258.0,86.000000,18
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,73.0,NaN,77.0,NaN,NaN,19
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,NaN,79.0,80.0,NaN,NaN,20
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.000000,21
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN,22
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667,23
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333,24
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000,25

In [ ]:
# First value is inclusive and last value is exclusive
random_array = np.random.randint(1,100, size = 3529)
print(random_array)
print(len(random_array))
# generates an array of length 3529 with values between 1 and 99

[66  3 47 ... 19 10 37]
3529

In [ ]:
# generataing random float numbers
np.random.uniform(1,100,size= 100)

array([ 9.0312023 , 64.00165557, 37.94545742, 57.90500951, 58.206715  ,
       92.66717921, 26.31061742, 54.45991381, 78.55505685, 67.42392905,
       93.5126494 , 57.41463725, 19.26154335, 60.34313375, 15.42483584,
       58.63585127, 31.53443637, 96.0727849 , 39.3048202 , 55.13621029,
       11.23264545, 50.41739922, 97.96199475, 72.11144787, 82.46765668,
       54.49028178, 56.96146232, 61.28530404, 34.50165246, 44.03329046,
       53.97302843, 15.28378795, 40.54372526, 56.60092011, 24.06677638,
       31.08744512, 25.04748669, 64.37991106, 43.15107295, 49.82831781,
       10.29309802, 88.81721113, 23.03365436, 35.76863165, 82.92414564,
       83.094134  , 40.11751069, 70.64664657, 76.8912603 , 99.60508194,
       51.74817901, 55.52158012, 38.63609354, 35.10983525,  4.14062775,
       53.59254147, 72.23019307, 34.41278748, 17.09575188, 42.16457812,
       31.18640397, 95.87714957, 87.64474242, 21.93654387,  4.26448327,
       36.5600893 , 65.37536248, 11.67457053, 28.84106422, 34.23145695,
       62.27045796, 12.32674384, 52.52603016, 87.00041199, 40.82617407,
       61.2118552 , 63.00968866, 73.11179361, 25.20412786, 20.39865768,
       44.85630547, 18.28111466,  8.63130277, 97.54570724,  6.84469526,
       22.04314952, 57.77335211,  4.90150983, 43.06645566, 24.89510197,
       64.32239108, 11.25806488,  5.06223432, 68.48450989, 15.98335433,
       98.93327875, 74.70870857,  1.42221935, 68.21462422, 39.3624292 ])

ii. Using Array

In [ ]:
#Adding a new column using assign. When we want to add multiple columns in single line of code and when you need to overwrite the values of existing column.
import numpy as np
social_score = np.random.randint(1,100,size = 25)
hindi_score = np.random.randint(1,100,size = 25)
social = pd.Series(social_score,index = np.arange(0,25))
hindi = pd.Series(hindi_score,index = np.arange(0,25))
#here if we dont assign it back to the data frame i.e df the original data frame doesn't get updated it will still show the dataframe without the new columns
df = df.assign(Social = social,Hindi = hindi)
df

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average,Roll no,Social,Hindi
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667,1,99,37
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333,2,12,60
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667,3,53,10
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.000000,4,13,41
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.666667,5,54,60
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,95.0,93.0,92.0,280.0,93.333333,6,8,87
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,70.0,75.0,73.0,218.0,72.666667,7,17,42
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,82.0,80.0,78.0,240.0,80.000000,8,86,91
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,68.0,70.0,65.0,203.0,67.666667,9,99,60
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,89.0,87.0,90.0,266.0,88.666667,10,70,52
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,75.0,74.0,NaN,NaN,NaN,11,24,42
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,80.0,NaN,82.0,NaN,NaN,12,17,53
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,NaN,85.0,88.0,NaN,NaN,13,62,62
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,86.0,82.0,84.0,252.0,84.000000,14,48,42
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,91.0,90.0,89.0,270.0,90.000000,15,26,59
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,78.0,76.0,75.0,229.0,76.333333,16,11,54
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,84.0,88.0,81.0,253.0,84.333333,17,82,67
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,88.0,84.0,86.0,258.0,86.000000,18,27,17
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,73.0,NaN,77.0,NaN,NaN,19,62,1
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,NaN,79.0,80.0,NaN,NaN,20,15,38
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.000000,21,95,41
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN,22,48,36
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667,23,76,12
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333,24,67,74
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000,25,61,46

In [ ]:
kannada_score = np.random.randint(1,100,size = 25)
df.insert(7,'Kannada',kannada_score)
df

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,61,85.0,78.0,88.0,251.0,83.666667,1,99,37
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,66,92.0,89.0,90.0,271.0,90.333333,2,12,60
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,29,76.0,72.0,70.0,218.0,72.666667,3,53,10
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,53,88.0,91.0,85.0,264.0,88.000000,4,13,41
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,70,90.0,84.0,86.0,260.0,86.666667,5,54,60
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,87,95.0,93.0,92.0,280.0,93.333333,6,8,87
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,21,70.0,75.0,73.0,218.0,72.666667,7,17,42
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,45,82.0,80.0,78.0,240.0,80.000000,8,86,91
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,22,68.0,70.0,65.0,203.0,67.666667,9,99,60
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,11,89.0,87.0,90.0,266.0,88.666667,10,70,52
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,14,75.0,74.0,NaN,NaN,NaN,11,24,42
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,5,80.0,NaN,82.0,NaN,NaN,12,17,53
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,57,NaN,85.0,88.0,NaN,NaN,13,62,62
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,47,86.0,82.0,84.0,252.0,84.000000,14,48,42
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,52,91.0,90.0,89.0,270.0,90.000000,15,26,59
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,35,78.0,76.0,75.0,229.0,76.333333,16,11,54
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,30,84.0,88.0,81.0,253.0,84.333333,17,82,67
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,7,88.0,84.0,86.0,258.0,86.000000,18,27,17
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,45,73.0,NaN,77.0,NaN,NaN,19,62,1
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,36,NaN,79.0,80.0,NaN,NaN,20,15,38
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,24,90.0,92.0,91.0,273.0,91.000000,21,95,41
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,86,87.0,86.0,NaN,NaN,NaN,22,48,36
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,78,65.0,68.0,70.0,203.0,67.666667,23,76,12
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,89,72.0,71.0,74.0,217.0,72.333333,24,67,74
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,90,88.0,89.0,87.0,264.0,88.000000,25,61,46

In [ ]:
df['Kannada'].sum()

np.int64(1160)

In [ ]:
print('count',df['Kannada'].count())
print('mean',df['Kannada'].mean())
print('describe',df['Kannada'].describe())

count 25
mean 46.4
describe count    25.000000
mean     46.400000
std      26.924277
min       5.000000
25%      24.000000
50%      45.000000
75%      66.000000
max      90.000000
Name: Kannada, dtype: float64

In [ ]:
df['Maths_Science'] = df['Math'] + df['Science']
df

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,61,85.0,78.0,88.0,251.0,83.666667,1,99,37,163.0
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,66,92.0,89.0,90.0,271.0,90.333333,2,12,60,181.0
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,29,76.0,72.0,70.0,218.0,72.666667,3,53,10,148.0
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,53,88.0,91.0,85.0,264.0,88.000000,4,13,41,179.0
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,70,90.0,84.0,86.0,260.0,86.666667,5,54,60,174.0
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,87,95.0,93.0,92.0,280.0,93.333333,6,8,87,188.0
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,21,70.0,75.0,73.0,218.0,72.666667,7,17,42,145.0
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,45,82.0,80.0,78.0,240.0,80.000000,8,86,91,162.0
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,22,68.0,70.0,65.0,203.0,67.666667,9,99,60,138.0
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,11,89.0,87.0,90.0,266.0,88.666667,10,70,52,176.0
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,14,75.0,74.0,NaN,NaN,NaN,11,24,42,149.0
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,5,80.0,NaN,82.0,NaN,NaN,12,17,53,NaN
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,57,NaN,85.0,88.0,NaN,NaN,13,62,62,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,47,86.0,82.0,84.0,252.0,84.000000,14,48,42,168.0
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,52,91.0,90.0,89.0,270.0,90.000000,15,26,59,181.0
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,35,78.0,76.0,75.0,229.0,76.333333,16,11,54,154.0
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,30,84.0,88.0,81.0,253.0,84.333333,17,82,67,172.0
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,7,88.0,84.0,86.0,258.0,86.000000,18,27,17,172.0
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,45,73.0,NaN,77.0,NaN,NaN,19,62,1,NaN
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,36,NaN,79.0,80.0,NaN,NaN,20,15,38,NaN
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,24,90.0,92.0,91.0,273.0,91.000000,21,95,41,182.0
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,86,87.0,86.0,NaN,NaN,NaN,22,48,36,173.0
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,78,65.0,68.0,70.0,203.0,67.666667,23,76,12,133.0
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,89,72.0,71.0,74.0,217.0,72.333333,24,67,74,143.0
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,90,88.0,89.0,87.0,264.0,88.000000,25,61,46,177.0

In [54]:
print('count',df['Maths_Science'].count())
print('value count',df['Maths_Science'].value_counts())
#normalize = true returns the proportions of each value i.e., count/ total count
print('value count with normailize true',df['Maths_Science'].value_counts(normalize=True))

count 21
value count Maths_Science
181.0    2
172.0    2
163.0    1
148.0    1
179.0    1
188.0    1
174.0    1
162.0    1
138.0    1
176.0    1
145.0    1
149.0    1
168.0    1
154.0    1
182.0    1
173.0    1
133.0    1
143.0    1
177.0    1
Name: count, dtype: int64
value count with normailize true Maths_Science
181.0    0.095238
172.0    0.095238
163.0    0.047619
148.0    0.047619
179.0    0.047619
188.0    0.047619
174.0    0.047619
162.0    0.047619
138.0    0.047619
176.0    0.047619
145.0    0.047619
149.0    0.047619
168.0    0.047619
154.0    0.047619
182.0    0.047619
173.0    0.047619
133.0    0.047619
143.0    0.047619
177.0    0.047619
Name: proportion, dtype: float64

In [55]:
df.sort_values(by = 'Name',ascending= False)

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,22,68.0,70.0,65.0,203.0,67.666667,9,99,60,138.0
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,30,84.0,88.0,81.0,253.0,84.333333,17,82,67,172.0
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,90,88.0,89.0,87.0,264.0,88.000000,25,61,46,177.0
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,87,95.0,93.0,92.0,280.0,93.333333,6,8,87,188.0
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,86,87.0,86.0,NaN,NaN,NaN,22,48,36,173.0
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,57,NaN,85.0,88.0,NaN,NaN,13,62,62,NaN
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,29,76.0,72.0,70.0,218.0,72.666667,3,53,10,148.0
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,36,NaN,79.0,80.0,NaN,NaN,20,15,38,NaN
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,14,75.0,74.0,NaN,NaN,NaN,11,24,42,149.0
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,53,88.0,91.0,85.0,264.0,88.000000,4,13,41,179.0
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,11,89.0,87.0,90.0,266.0,88.666667,10,70,52,176.0
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,35,78.0,76.0,75.0,229.0,76.333333,16,11,54,154.0
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,45,82.0,80.0,78.0,240.0,80.000000,8,86,91,162.0
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,78,65.0,68.0,70.0,203.0,67.666667,23,76,12,133.0
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,5,80.0,NaN,82.0,NaN,NaN,12,17,53,NaN
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,45,73.0,NaN,77.0,NaN,NaN,19,62,1,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,47,86.0,82.0,84.0,252.0,84.000000,14,48,42,168.0
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,70,90.0,84.0,86.0,260.0,86.666667,5,54,60,174.0
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,7,88.0,84.0,86.0,258.0,86.000000,18,27,17,172.0
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,89,72.0,71.0,74.0,217.0,72.333333,24,67,74,143.0
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,21,70.0,75.0,73.0,218.0,72.666667,7,17,42,145.0
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,66,92.0,89.0,90.0,271.0,90.333333,2,12,60,181.0
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,52,91.0,90.0,89.0,270.0,90.000000,15,26,59,181.0
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,24,90.0,92.0,91.0,273.0,91.000000,21,95,41,182.0
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,61,85.0,78.0,88.0,251.0,83.666667,1,99,37,163.0

In [57]:
# 1. First priority is given to Rating followed by series1
# 2. inplaceTrue will update the original dataFrame and we need not reassign the value again
# 3.When you sort by more than one column, pandas uses the same logic:
  #i.It sorts by the first column.
  #ii.If two or more rows have the same value in the first column, it sorts those rows by the second column.
  #iii.If theres still a tie, it sorts by the third column.
df.sort_values(by = ['Name','Age'],ascending= False,inplace=True)
df

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,22,68.0,70.0,65.0,203.0,67.666667,9,99,60,138.0
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,30,84.0,88.0,81.0,253.0,84.333333,17,82,67,172.0
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,90,88.0,89.0,87.0,264.0,88.000000,25,61,46,177.0
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,87,95.0,93.0,92.0,280.0,93.333333,6,8,87,188.0
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,86,87.0,86.0,NaN,NaN,NaN,22,48,36,173.0
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,57,NaN,85.0,88.0,NaN,NaN,13,62,62,NaN
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,29,76.0,72.0,70.0,218.0,72.666667,3,53,10,148.0
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,36,NaN,79.0,80.0,NaN,NaN,20,15,38,NaN
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,14,75.0,74.0,NaN,NaN,NaN,11,24,42,149.0
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,53,88.0,91.0,85.0,264.0,88.000000,4,13,41,179.0
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,11,89.0,87.0,90.0,266.0,88.666667,10,70,52,176.0
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,35,78.0,76.0,75.0,229.0,76.333333,16,11,54,154.0
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,45,82.0,80.0,78.0,240.0,80.000000,8,86,91,162.0
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,78,65.0,68.0,70.0,203.0,67.666667,23,76,12,133.0
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,5,80.0,NaN,82.0,NaN,NaN,12,17,53,NaN
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,45,73.0,NaN,77.0,NaN,NaN,19,62,1,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,47,86.0,82.0,84.0,252.0,84.000000,14,48,42,168.0
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,70,90.0,84.0,86.0,260.0,86.666667,5,54,60,174.0
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,7,88.0,84.0,86.0,258.0,86.000000,18,27,17,172.0
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,89,72.0,71.0,74.0,217.0,72.333333,24,67,74,143.0
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,21,70.0,75.0,73.0,218.0,72.666667,7,17,42,145.0
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,66,92.0,89.0,90.0,271.0,90.333333,2,12,60,181.0
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,52,91.0,90.0,89.0,270.0,90.000000,15,26,59,181.0
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,24,90.0,92.0,91.0,273.0,91.000000,21,95,41,182.0
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,61,85.0,78.0,88.0,251.0,83.666667,1,99,37,163.0

In [58]:
#sort the values of the product name column in ascending order by changing all values to lowercase
df.sort_values('Name',ascending = True,key =lambda col:col.str.lower())

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,61,85.0,78.0,88.0,251.0,83.666667,1,99,37,163.0
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,24,90.0,92.0,91.0,273.0,91.000000,21,95,41,182.0
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,52,91.0,90.0,89.0,270.0,90.000000,15,26,59,181.0
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,66,92.0,89.0,90.0,271.0,90.333333,2,12,60,181.0
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,21,70.0,75.0,73.0,218.0,72.666667,7,17,42,145.0
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,89,72.0,71.0,74.0,217.0,72.333333,24,67,74,143.0
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,7,88.0,84.0,86.0,258.0,86.000000,18,27,17,172.0
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,70,90.0,84.0,86.0,260.0,86.666667,5,54,60,174.0
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,47,86.0,82.0,84.0,252.0,84.000000,14,48,42,168.0
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,45,73.0,NaN,77.0,NaN,NaN,19,62,1,NaN
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,5,80.0,NaN,82.0,NaN,NaN,12,17,53,NaN
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,78,65.0,68.0,70.0,203.0,67.666667,23,76,12,133.0
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,45,82.0,80.0,78.0,240.0,80.000000,8,86,91,162.0
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,35,78.0,76.0,75.0,229.0,76.333333,16,11,54,154.0
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,11,89.0,87.0,90.0,266.0,88.666667,10,70,52,176.0
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,53,88.0,91.0,85.0,264.0,88.000000,4,13,41,179.0
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,14,75.0,74.0,NaN,NaN,NaN,11,24,42,149.0
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,36,NaN,79.0,80.0,NaN,NaN,20,15,38,NaN
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,29,76.0,72.0,70.0,218.0,72.666667,3,53,10,148.0
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,57,NaN,85.0,88.0,NaN,NaN,13,62,62,NaN
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,86,87.0,86.0,NaN,NaN,NaN,22,48,36,173.0
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,87,95.0,93.0,92.0,280.0,93.333333,6,8,87,188.0
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,90,88.0,89.0,87.0,264.0,88.000000,25,61,46,177.0
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,30,84.0,88.0,81.0,253.0,84.333333,17,82,67,172.0
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,22,68.0,70.0,65.0,203.0,67.666667,9,99,60,138.0