<a href="https://colab.research.google.com/github/NehaSrinivas98/MachineLearningCourse/blob/main/pandasNumpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=CMEWVn1uZpQ&t=72s

# **1.Pandas**
Pandas is an open-source Python library widely used for data manipulation and analysis. It provides powerful and flexible data structures, particularly Series and DataFrames, that make working with "relational" or "labeled" data intuitive and efficient.

###a. Pandas/Python vs Excel
  1. Excel can handle 1 million rows Pandas/Python can handle millions and millions of rows
  2. Pandas/Python can handle complex data structure when compared to excel
  3. Pandas/Python is good for automation where as excel is not automatable.
  4. Pandas/Python has cross compatibility where as excel does not.

###b. Arrays
* 1D array : Series
* 2D array: Dataframe

###c.Dataframe
  * A DataFrame in Python is a two-dimensional, labeled data structure provided by the pandas library. It is designed for data manipulation and analysis, resembling a table or spreadsheet with rows and columns.
  * Index starts with 0
  * Dataframe can store int,str,tuple etc
  * column names are also known as Features
  * Row values are also known as Observation
  * We will get errors when we try to store different data types data in same column.
  * Pandas vs Excel terminology

<table>
  <tr>
    <th>
      Excel
    </th>
    <th>
      Pandas
    </th>
  </tr>
  <tr>
    <td>
      Worksheet
    </td>
    <td>
      Dataframe
    </td>
  </tr>
  <tr>
    <td>
      Row heading
    </td>
    <td>
      Index
    </td>
  </tr>
  <tr>
    <td>
      Row
    </td>
    <td>
      Row
    </td>
  </tr>
  <tr>
    <td>
      Empty Cell
    </td>
    <td>
      Nan
    </td>
  </tr>
</table>

### d. Creating a dataframe

In [ ]:
import pandas as pd
import numpy as np

##### a. Using Array

In [ ]:
#1.Numpy
data = np.array([[1,4],[2,5],[3,6]])
pd.DataFrame(data,index=['row1','row2','row3'],
             columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [ ]:
#2. List
data = [[1,4],[2,5],[3,6]]
pd.DataFrame(data,index=['row1','row2','row3'],
             columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     6

##### b. Using Dictionaries

In [ ]:
states = ['California','Texus','Florida','New York']
population = [1234,5678,9012,2345]
# storing lists within dictionaries
dict_state = {'States':states,'Population':population}
pd.DataFrame(dict_state)
df_population = pd.DataFrame(dict_state,index=[1,2,3,4])
print(df_population)

       States  Population
1  California        1234
2       Texus        5678
3     Florida        9012
4    New York        2345

##### c. Csv

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

import pandas as pd

# Replace with your actual path
file_path = '/content/drive/My Drive/Colab Notebooks/dataSet.csv'
df = pd.read_csv(file_path)

### e. Displaying data in pandas

In [ ]:
import pandas as pd

# Create the dataset
data = {
    "Student_ID": ["S001", "S002", "S003", "S004", "S005",
                   "S006", "S007", "S008", "S009", "S010"],

    "Name": ["Aarav Sharma", "Ananya Verma", "Rohan Patel", "Priya Singh", "Karan Mehta",
             "Sneha Iyer", "Arjun Rao", "Neha Kulkarni", "Vikram Joshi", "Pooja Nair"],

    "Age": [15, 14, 15, 14, 16, 15, 16, 14, 15, 16],

    "Gender": ["Male", "Female", "Male", "Female", "Male",
               "Female", "Male", "Female", "Male", "Female"],

    "Class": [10, 9, 10, 9, 11, 10, 11, 9, 10, 11],

    "City": ["Delhi", "Mumbai", "Ahmedabad", "Lucknow", "Pune",
             "Chennai", "Bengaluru", "Nagpur", "Jaipur", "Kochi"],

    "Address": [
        "12A, Green Park, South Delhi",
        "Flat 504, Sunrise Apartments, Andheri East",
        "22, Shree Nagar Society, Navrangpura",
        "B-17, Alambagh Housing Colony",
        "Row House 9, Baner Road",
        "No. 45, Lake View Street, Adyar",
        "301, Tech Park Residency, Whitefield",
        "Plot 18, Shanti Nagar, Wardha Road",
        "H-204, Pink City Enclave, Malviya Nagar",
        "Villa 6, Palm Grove, Vyttila"
    ],

    "Math": [85, 92, 76, 88, 90, 95, 70, 82, 68, 89],
    "Science": [78, 89, 72, 91, 84, 93, 75, 80, 70, 87],
    "English": [88, 90, 70, 85, 86, 92, 73, 78, 65, 90]
}

# Create DataFrame
df = pd.DataFrame(data)

# Calculate Total and Average
df["Total"] = df["Math"] + df["Science"] + df["English"]
df["Average"] = df["Total"] / 3

# Display the DataFrame
print(df)

  Student_ID           Name  Age  Gender  Class       City  \
0       S001   Aarav Sharma   15    Male     10      Delhi
1       S002   Ananya Verma   14  Female      9     Mumbai
2       S003    Rohan Patel   15    Male     10  Ahmedabad
3       S004    Priya Singh   14  Female      9    Lucknow
4       S005    Karan Mehta   16    Male     11       Pune
5       S006     Sneha Iyer   15  Female     10    Chennai
6       S007      Arjun Rao   16    Male     11  Bengaluru
7       S008  Neha Kulkarni   14  Female      9     Nagpur
8       S009   Vikram Joshi   15    Male     10     Jaipur
9       S010     Pooja Nair   16  Female     11      Kochi

                                      Address  Math  Science  English  Total  \
0                12A, Green Park, South Delhi    85       78       88    251
1  Flat 504, Sunrise Apartments, Andheri East    92       89       90    271
2        22, Shree Nagar Society, Navrangpura    76       72       70    218
3               B-17, Alambagh Housing Colony    88       91       85    264
4                     Row House 9, Baner Road    90       84       86    260
5             No. 45, Lake View Street, Adyar    95       93       92    280
6        301, Tech Park Residency, Whitefield    70       75       73    218
7          Plot 18, Shanti Nagar, Wardha Road    82       80       78    240
8     H-204, Pink City Enclave, Malviya Nagar    68       70       65    203
9                Villa 6, Palm Grove, Vyttila    89       87       90    266

     Average
0  83.666667
1  90.333333
2  72.666667
3  88.000000
4  86.666667
5  93.333333
6  72.666667
7  80.000000
8  67.666667
9  88.666667

In [ ]:
df.head()#returns the first 5 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15,Male,10,Delhi,"12A, Green Park, South Delhi",85,78,88,251,83.666667
1,S002,Ananya Verma,14,Female,9,Mumbai,"Flat 504, Sunrise Apartments, Andheri East",92,89,90,271,90.333333
2,S003,Rohan Patel,15,Male,10,Ahmedabad,"22, Shree Nagar Society, Navrangpura",76,72,70,218,72.666667
3,S004,Priya Singh,14,Female,9,Lucknow,"B-17, Alambagh Housing Colony",88,91,85,264,88.000000
4,S005,Karan Mehta,16,Male,11,Pune,"Row House 9, Baner Road",90,84,86,260,86.666667

In [ ]:
df.tail() #returns the last 5 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
5,S006,Sneha Iyer,15,Female,10,Chennai,"No. 45, Lake View Street, Adyar",95,93,92,280,93.333333
6,S007,Arjun Rao,16,Male,11,Bengaluru,"301, Tech Park Residency, Whitefield",70,75,73,218,72.666667
7,S008,Neha Kulkarni,14,Female,9,Nagpur,"Plot 18, Shanti Nagar, Wardha Road",82,80,78,240,80.000000
8,S009,Vikram Joshi,15,Male,10,Jaipur,"H-204, Pink City Enclave, Malviya Nagar",68,70,65,203,67.666667
9,S010,Pooja Nair,16,Female,11,Kochi,"Villa 6, Palm Grove, Vyttila",89,87,90,266,88.666667

In [ ]:
df.head(3) #displays first 3 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15,Male,10,Delhi,"12A, Green Park, South Delhi",85,78,88,251,83.666667
1,S002,Ananya Verma,14,Female,9,Mumbai,"Flat 504, Sunrise Apartments, Andheri East",92,89,90,271,90.333333
2,S003,Rohan Patel,15,Male,10,Ahmedabad,"22, Shree Nagar Society, Navrangpura",76,72,70,218,72.666667

In [ ]:
df.tail(3) #displays last 3 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
7,S008,Neha Kulkarni,14,Female,9,Nagpur,"Plot 18, Shanti Nagar, Wardha Road",82,80,78,240,80.000000
8,S009,Vikram Joshi,15,Male,10,Jaipur,"H-204, Pink City Enclave, Malviya Nagar",68,70,65,203,67.666667
9,S010,Pooja Nair,16,Female,11,Kochi,"Villa 6, Palm Grove, Vyttila",89,87,90,266,88.666667

In [ ]:
df.shape

(10, 12)

In [ ]:
pd.set_option('display.max_rows',None)
df

1.   pd.setOption() is used to configure Pandas to display all rows of a DataFrame when you print it in Google Colab (or any Python environment). By default, Pandas truncates the output if there are too many rows.
2.   it can be reset using pd.reset_option('display.max_rows')
*   display.width:           Width of the display in characters
*   display.max_colwidth :    Max width of each column (use None for unlimited)*   display.precision:      Number of decimal places for floats
*   display.float_format:   Format for floating point numbers (e.g., '{:.2f}'.format)
*   display.expand_frame_repr: Whether to print DataFrames across multiple lines
*   display.large_repr:       How large DataFrames are printed ('truncate' or 'info')
*   display.colheader_justify: Justification of column headers ('left', 'right', 'center')
*   display.show_dimensions:   Whether to show DataFrame shape info when printing
3. the second argument can be 'None' which means display all the rows or some number which represents the number of rows to be displayed

In [ ]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [12]:
df.columns

Index(['Student_ID', 'Name', 'Age', 'Gender', 'Class', 'City', 'Address',
       'Math', 'Science', 'English', 'Total', 'Average'],
      dtype='object')

In [13]:
df.dtypes

Student_ID     object
Name           object
Age             int64
Gender         object
Class           int64
City           object
Address        object
Math            int64
Science         int64
English         int64
Total           int64
Average       float64
dtype: object

In [ ]:
df.info