<a href="https://colab.research.google.com/github/NehaSrinivas98/MachineLearningCourse/blob/main/pandasNumpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=CMEWVn1uZpQ&t=72s

# **1.Pandas**
Pandas is an open-source Python library widely used for data manipulation and analysis. It provides powerful and flexible data structures, particularly Series and DataFrames, that make working with "relational" or "labeled" data intuitive and efficient.

###a. Pandas/Python vs Excel
  1. Excel can handle 1 million rows Pandas/Python can handle millions and millions of rows
  2. Pandas/Python can handle complex data structure when compared to excel
  3. Pandas/Python is good for automation where as excel is not automatable.
  4. Pandas/Python has cross compatibility where as excel does not.

###b. Arrays
* 1D array : Series
* 2D array: Dataframe

###c.Dataframe
  * A DataFrame in Python is a two-dimensional, labeled data structure provided by the pandas library. It is designed for data manipulation and analysis, resembling a table or spreadsheet with rows and columns.
  * Index starts with 0
  * Dataframe can store int,str,tuple etc
  * column names are also known as Features
  * Row values are also known as Observation
  * We will get errors when we try to store different data types data in same column.
  * Pandas vs Excel terminology

<table>
  <tr>
    <th>
      Excel
    </th>
    <th>
      Pandas
    </th>
  </tr>
  <tr>
    <td>
      Worksheet
    </td>
    <td>
      Dataframe
    </td>
  </tr>
  <tr>
    <td>
      Row heading
    </td>
    <td>
      Index
    </td>
  </tr>
  <tr>
    <td>
      Row
    </td>
    <td>
      Row
    </td>
  </tr>
  <tr>
    <td>
      Empty Cell
    </td>
    <td>
      Nan
    </td>
  </tr>
</table>

### d. Creating a dataframe

In [1]:
import pandas as pd
import numpy as np

##### i. Using Array

In [2]:
#1.Numpy
data = np.array([[1,4],[2,5],[3,6]])
pd.DataFrame(data,index=['row1','row2','row3'],
             columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     6

In [3]:
#2. List
data = [[1,4],[2,5],[3,6]]
pd.DataFrame(data,index=['row1','row2','row3'],
             columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     6

##### ii. Using Dictionaries

In [4]:
states = ['California','Texus','Florida','New York']
population = [1234,5678,9012,2345]
# storing lists within dictionaries
dict_state = {'States':states,'Population':population}
pd.DataFrame(dict_state)
df_population = pd.DataFrame(dict_state,index=[1,2,3,4])
print(df_population)

       States  Population
1  California        1234
2       Texus        5678
3     Florida        9012
4    New York        2345

##### iii. Csv

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

import pandas as pd

# Replace with your actual path
file_path = '/content/drive/My Drive/Colab Notebooks/dataSet.csv'
df = pd.read_csv(file_path)

Mounted at /content/drive

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/My Drive/Colab Notebooks/dataSet.csv'

### e. Displaying data in pandas

In [5]:
import pandas as pd

# Create the dataset
data = {
    "Student_ID": [f"S{str(i).zfill(3)}" for i in range(1, 26)],

    "Name": [
        "Aarav Sharma", "Ananya Verma", "Rohan Patel", "Priya Singh", "Karan Mehta",
        "Sneha Iyer", "Arjun Rao", "Neha Kulkarni", "Vikram Joshi", "Pooja Nair",
        "Rahul Das", "Meera Kapoor", "Siddharth Jain", "Kavya Malhotra", "Amit Kumar",
        "Nisha Gupta", "Varun Bansal", "Isha Choudhary", "Manish Yadav", "Ritu Saxena",
        "Aditya Mishra", "Simran Kaur", "Mohit Aggarwal", "Ayesha Khan", "Tanmay Ghosh"
    ],

    "Age": [
        15, 14, 15, 14, 16, 15, 16, 14, 15, 16,
        15, np.nan, 16, 15, 17, 14, np.nan, 16, 15, 14,
        16, 15, np.nan, 14, 16
    ],

    "Gender": [
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male"
    ],

    "Class": [
        10, 9, 10, 9, 11, 10, 11, 9, 10, 11,
        10, 9, 11, 10, 12, 9, 11, 10, 10, 9,
        11, 10, 12, 9, 11
    ],

    "City": [
        "Delhi", "Mumbai", "Ahmedabad", "Lucknow", "Pune",
        "Chennai", "Bengaluru", "Nagpur", "Jaipur", "Kochi",
        "Kolkata", np.nan, "Indore", "Chandigarh", "Patna",
        "Noida", "Gurgaon", np.nan, "Bhopal", "Udaipur",
        "Allahabad", "Amritsar", "Faridabad", np.nan, "Ranchi"
    ],

    "Address": [
        "12A Green Park", "Sunrise Apartments", "Shree Nagar Society", "Alambagh Colony",
        "Baner Road", "Lake View Street", "Tech Park Residency", "Shanti Nagar",
        "Pink City Enclave", "Palm Grove",
        np.nan, "Lajpat Nagar", "Civil Lines", "Sector 22",
        "Rajendra Nagar", np.nan, "DLF Phase 3", "Model Town",
        "MP Nagar", "Hiran Magri",
        "Civil Lines", "GT Road", np.nan, "Park Street", "Main Road"
    ],

    "Math": [
        85, 92, 76, 88, 90, 95, 70, 82, 68, 89,
        75, 80, np.nan, 86, 91, 78, 84, 88, 73, np.nan,
        90, 87, 65, 72, 88
    ],

    "Science": [
        78, 89, 72, 91, 84, 93, 75, 80, 70, 87,
        74, np.nan, 85, 82, 90, 76, 88, 84, np.nan, 79,
        92, 86, 68, 71, 89
    ],

    "English": [
        88, 90, 70, 85, 86, 92, 73, 78, 65, 90,
        np.nan, 82, 88, 84, 89, 75, 81, 86, 77, 80,
        91, np.nan, 70, 74, 87
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Calculate Total and Average
df["Total"] = df["Math"] + df["Science"] + df["English"]
df["Average"] = df["Total"] / 3

# Display the DataFrame
print(df)

   Student_ID            Name   Age  Gender  Class        City  \
0        S001    Aarav Sharma  15.0    Male     10       Delhi
1        S002    Ananya Verma  14.0  Female      9      Mumbai
2        S003     Rohan Patel  15.0    Male     10   Ahmedabad
3        S004     Priya Singh  14.0  Female      9     Lucknow
4        S005     Karan Mehta  16.0    Male     11        Pune
5        S006      Sneha Iyer  15.0  Female     10     Chennai
6        S007       Arjun Rao  16.0    Male     11   Bengaluru
7        S008   Neha Kulkarni  14.0  Female      9      Nagpur
8        S009    Vikram Joshi  15.0    Male     10      Jaipur
9        S010      Pooja Nair  16.0  Female     11       Kochi
10       S011       Rahul Das  15.0    Male     10     Kolkata
11       S012    Meera Kapoor   NaN  Female      9         NaN
12       S013  Siddharth Jain  16.0    Male     11      Indore
13       S014  Kavya Malhotra  15.0  Female     10  Chandigarh
14       S015      Amit Kumar  17.0    Male     12       Patna
15       S016     Nisha Gupta  14.0  Female      9       Noida
16       S017    Varun Bansal   NaN    Male     11     Gurgaon
17       S018  Isha Choudhary  16.0  Female     10         NaN
18       S019    Manish Yadav  15.0    Male     10      Bhopal
19       S020     Ritu Saxena  14.0  Female      9     Udaipur
20       S021   Aditya Mishra  16.0    Male     11   Allahabad
21       S022     Simran Kaur  15.0  Female     10    Amritsar
22       S023  Mohit Aggarwal   NaN    Male     12   Faridabad
23       S024     Ayesha Khan  14.0  Female      9         NaN
24       S025    Tanmay Ghosh  16.0    Male     11      Ranchi

                Address  Math  Science  English  Total    Average
0        12A Green Park  85.0     78.0     88.0  251.0  83.666667
1    Sunrise Apartments  92.0     89.0     90.0  271.0  90.333333
2   Shree Nagar Society  76.0     72.0     70.0  218.0  72.666667
3       Alambagh Colony  88.0     91.0     85.0  264.0  88.000000
4            Baner Road  90.0     84.0     86.0  260.0  86.666667
5      Lake View Street  95.0     93.0     92.0  280.0  93.333333
6   Tech Park Residency  70.0     75.0     73.0  218.0  72.666667
7          Shanti Nagar  82.0     80.0     78.0  240.0  80.000000
8     Pink City Enclave  68.0     70.0     65.0  203.0  67.666667
9            Palm Grove  89.0     87.0     90.0  266.0  88.666667
10                  NaN  75.0     74.0      NaN    NaN        NaN
11         Lajpat Nagar  80.0      NaN     82.0    NaN        NaN
12          Civil Lines   NaN     85.0     88.0    NaN        NaN
13            Sector 22  86.0     82.0     84.0  252.0  84.000000
14       Rajendra Nagar  91.0     90.0     89.0  270.0  90.000000
15                  NaN  78.0     76.0     75.0  229.0  76.333333
16          DLF Phase 3  84.0     88.0     81.0  253.0  84.333333
17           Model Town  88.0     84.0     86.0  258.0  86.000000
18             MP Nagar  73.0      NaN     77.0    NaN        NaN
19          Hiran Magri   NaN     79.0     80.0    NaN        NaN
20          Civil Lines  90.0     92.0     91.0  273.0  91.000000
21              GT Road  87.0     86.0      NaN    NaN        NaN
22                  NaN  65.0     68.0     70.0  203.0  67.666667
23          Park Street  72.0     71.0     74.0  217.0  72.333333
24            Main Road  88.0     89.0     87.0  264.0  88.000000

In [6]:
df.head()#returns the first 5 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.000000
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.666667

In [7]:
df.tail() #returns the last 5 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.000000
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000

In [8]:
df.head(3) #displays first 3 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667

In [9]:
df.tail(3) #displays last 3 rows

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000

In [ ]:
df.shape

(25, 12)

In [ ]:
pd.set_option('display.max_rows',None)
df

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.000000
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.666667
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,95.0,93.0,92.0,280.0,93.333333
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,70.0,75.0,73.0,218.0,72.666667
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,82.0,80.0,78.0,240.0,80.000000
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,68.0,70.0,65.0,203.0,67.666667
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,89.0,87.0,90.0,266.0,88.666667
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,75.0,74.0,NaN,NaN,NaN
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,80.0,NaN,82.0,NaN,NaN
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,NaN,85.0,88.0,NaN,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,86.0,82.0,84.0,252.0,84.000000
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,91.0,90.0,89.0,270.0,90.000000
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,78.0,76.0,75.0,229.0,76.333333
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,84.0,88.0,81.0,253.0,84.333333
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,88.0,84.0,86.0,258.0,86.000000
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,73.0,NaN,77.0,NaN,NaN
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,NaN,79.0,80.0,NaN,NaN
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.000000
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000

1.   pd.setOption() is used to configure Pandas to display all rows of a DataFrame when you print it in Google Colab (or any Python environment). By default, Pandas truncates the output if there are too many rows.
2.   it can be reset using pd.reset_option('display.max_rows')
*   display.width:           Width of the display in characters
*   display.max_colwidth :    Max width of each column (use None for unlimited)*   display.precision:      Number of decimal places for floats
*   display.float_format:   Format for floating point numbers (e.g., '{:.2f}'.format)
*   display.expand_frame_repr: Whether to print DataFrames across multiple lines
*   display.large_repr:       How large DataFrames are printed ('truncate' or 'info')
*   display.colheader_justify: Justification of column headers ('left', 'right', 'center')
*   display.show_dimensions:   Whether to show DataFrame shape info when printing
3. the second argument can be 'None' which means display all the rows or some number which represents the number of rows to be displayed

In [ ]:
df.index

RangeIndex(start=0, stop=25, step=1)

In [ ]:
df.columns

Index(['Student_ID', 'Name', 'Age', 'Gender', 'Class', 'City', 'Address',
       'Math', 'Science', 'English', 'Total', 'Average'],
      dtype='object')

In [ ]:
df.dtypes

Student_ID     object
Name           object
Age           float64
Gender         object
Class           int64
City           object
Address        object
Math          float64
Science       float64
English       float64
Total         float64
Average       float64
dtype: object

In [ ]:
df.info

<bound method DataFrame.info of    Student_ID            Name   Age  Gender  Class        City  \
0        S001    Aarav Sharma  15.0    Male     10       Delhi
1        S002    Ananya Verma  14.0  Female      9      Mumbai
2        S003     Rohan Patel  15.0    Male     10   Ahmedabad
3        S004     Priya Singh  14.0  Female      9     Lucknow
4        S005     Karan Mehta  16.0    Male     11        Pune
5        S006      Sneha Iyer  15.0  Female     10     Chennai
6        S007       Arjun Rao  16.0    Male     11   Bengaluru
7        S008   Neha Kulkarni  14.0  Female      9      Nagpur
8        S009    Vikram Joshi  15.0    Male     10      Jaipur
9        S010      Pooja Nair  16.0  Female     11       Kochi
10       S011       Rahul Das  15.0    Male     10     Kolkata
11       S012    Meera Kapoor   NaN  Female      9         NaN
12       S013  Siddharth Jain  16.0    Male     11      Indore
13       S014  Kavya Malhotra  15.0  Female     10  Chandigarh
14       S015      Amit Kumar  17.0    Male     12       Patna
15       S016     Nisha Gupta  14.0  Female      9       Noida
16       S017    Varun Bansal   NaN    Male     11     Gurgaon
17       S018  Isha Choudhary  16.0  Female     10         NaN
18       S019    Manish Yadav  15.0    Male     10      Bhopal
19       S020     Ritu Saxena  14.0  Female      9     Udaipur
20       S021   Aditya Mishra  16.0    Male     11   Allahabad
21       S022     Simran Kaur  15.0  Female     10    Amritsar
22       S023  Mohit Aggarwal   NaN    Male     12   Faridabad
23       S024     Ayesha Khan  14.0  Female      9         NaN
24       S025    Tanmay Ghosh  16.0    Male     11      Ranchi

                Address  Math  Science  English  Total    Average
0        12A Green Park  85.0     78.0     88.0  251.0  83.666667
1    Sunrise Apartments  92.0     89.0     90.0  271.0  90.333333
2   Shree Nagar Society  76.0     72.0     70.0  218.0  72.666667
3       Alambagh Colony  88.0     91.0     85.0  264.0  88.000000
4            Baner Road  90.0     84.0     86.0  260.0  86.666667
5      Lake View Street  95.0     93.0     92.0  280.0  93.333333
6   Tech Park Residency  70.0     75.0     73.0  218.0  72.666667
7          Shanti Nagar  82.0     80.0     78.0  240.0  80.000000
8     Pink City Enclave  68.0     70.0     65.0  203.0  67.666667
9            Palm Grove  89.0     87.0     90.0  266.0  88.666667
10                  NaN  75.0     74.0      NaN    NaN        NaN
11         Lajpat Nagar  80.0      NaN     82.0    NaN        NaN
12          Civil Lines   NaN     85.0     88.0    NaN        NaN
13            Sector 22  86.0     82.0     84.0  252.0  84.000000
14       Rajendra Nagar  91.0     90.0     89.0  270.0  90.000000
15                  NaN  78.0     76.0     75.0  229.0  76.333333
16          DLF Phase 3  84.0     88.0     81.0  253.0  84.333333
17           Model Town  88.0     84.0     86.0  258.0  86.000000
18             MP Nagar  73.0      NaN     77.0    NaN        NaN
19          Hiran Magri   NaN     79.0     80.0    NaN        NaN
20          Civil Lines  90.0     92.0     91.0  273.0  91.000000
21              GT Road  87.0     86.0      NaN    NaN        NaN
22                  NaN  65.0     68.0     70.0  203.0  67.666667
23          Park Street  72.0     71.0     74.0  217.0  72.333333
24            Main Road  88.0     89.0     87.0  264.0  88.000000  >

In [ ]:
df.describe()
#https://www.geeksforgeeks.org/pandas/python-pandas-dataframe-describe-method/

,Age,Class,Math,Science,English,Total,Average
count,22.000000,25.000000,23.000000,23.000000,23.000000,19.000000,19.000000
mean,15.136364,10.160000,82.260870,81.869565,81.782609,246.842105,82.280702
std,0.888844,0.943398,8.534515,7.677028,7.733966,24.723500,8.241167
min,14.000000,9.000000,65.000000,68.000000,65.000000,203.000000,67.666667
25%,14.250000,9.000000,75.500000,75.500000,76.000000,223.500000,74.500000
50%,15.000000,10.000000,85.000000,84.000000,84.000000,253.000000,84.333333
75%,16.000000,11.000000,88.500000,88.500000,88.000000,265.000000,88.333333
max,17.000000,12.000000,95.000000,93.000000,92.000000,280.000000,93.333333

In [ ]:
len(df)

25

In [ ]:
max(df) #In Python, the built-in max() function operates on the column labels, not on the data itself.
#It returns the maximum column name (lexicographically) by default, not based on non-null counts.
#Lexicographical order is basically dictionary order  the way words are ordered in a dictionary.
#For strings, Python compares characters from left to right using their Unicode/ASCII values.
#print("apple" < "banana")   # True, because 'a' < 'b'
#print("cat" < "car")        # False, because 't' > 'r'
#print("A" < "a")            # True, uppercase letters come before lowercase
#print("B" > "A")            # True

'Total'

In [ ]:
print(df['Age'].min())  # returns the minimum value in price column applies for max as well
print(df.count().max()) # returns the number of max non null values
print(df.count()[df.count()==df.count().max()]) # returns the columns in the dataframe which has maximum non null values.

14.0
25
Student_ID    25
Name          25
Gender        25
Class         25
dtype: int64

In [ ]:
print(df.index)
print(max(df.index))

RangeIndex(start=0, stop=25, step=1)
24

In [10]:
round(df,2)

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.67
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.33
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.67
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.00
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.67
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,95.0,93.0,92.0,280.0,93.33
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,70.0,75.0,73.0,218.0,72.67
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,82.0,80.0,78.0,240.0,80.00
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,68.0,70.0,65.0,203.0,67.67
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,89.0,87.0,90.0,266.0,88.67
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,75.0,74.0,NaN,NaN,NaN
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,80.0,NaN,82.0,NaN,NaN
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,NaN,85.0,88.0,NaN,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,86.0,82.0,84.0,252.0,84.00
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,91.0,90.0,89.0,270.0,90.00
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,78.0,76.0,75.0,229.0,76.33
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,84.0,88.0,81.0,253.0,84.33
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,88.0,84.0,86.0,258.0,86.00
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,73.0,NaN,77.0,NaN,NaN
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,NaN,79.0,80.0,NaN,NaN
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.00
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.67
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.33
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.00

In [ ]:
df['Address']

0          12A Green Park
1      Sunrise Apartments
2     Shree Nagar Society
3         Alambagh Colony
4              Baner Road
5        Lake View Street
6     Tech Park Residency
7            Shanti Nagar
8       Pink City Enclave
9              Palm Grove
10                    NaN
11           Lajpat Nagar
12            Civil Lines
13              Sector 22
14         Rajendra Nagar
15                    NaN
16            DLF Phase 3
17             Model Town
18               MP Nagar
19            Hiran Magri
20            Civil Lines
21                GT Road
22                    NaN
23            Park Street
24              Main Road
Name: Address, dtype: object

In [ ]:
type(df['Address'])

pandas.core.series.Series

In [ ]:
df['Address'].index

RangeIndex(start=0, stop=25, step=1)

In [ ]:
df.Math

0     85.0
1     92.0
2     76.0
3     88.0
4     90.0
5     95.0
6     70.0
7     82.0
8     68.0
9     89.0
10    75.0
11    80.0
12     NaN
13    86.0
14    91.0
15    78.0
16    84.0
17    88.0
18    73.0
19     NaN
20    90.0
21    87.0
22    65.0
23    72.0
24    88.0
Name: Math, dtype: float64

In [ ]:
# advantage of using df['columnName'] over df.columnName is when the column name is having a space the second method is more convinient and we cannot select multiple columns using dot operator

#selecting the columns: order of the columns mentioned in the list is the order of the columns accessed.
# one pair of square brackets returns a series whereas 2 square brackets returns a data frame.
df[['Science','English']]

    Science  English
0      78.0     88.0
1      89.0     90.0
2      72.0     70.0
3      91.0     85.0
4      84.0     86.0
5      93.0     92.0
6      75.0     73.0
7      80.0     78.0
8      70.0     65.0
9      87.0     90.0
10     74.0      NaN
11      NaN     82.0
12     85.0     88.0
13     82.0     84.0
14     90.0     89.0
15     76.0     75.0
16     88.0     81.0
17     84.0     86.0
18      NaN     77.0
19     79.0     80.0
20     92.0     91.0
21     86.0      NaN
22     68.0     70.0
23     71.0     74.0
24     89.0     87.0

In [ ]:
type(df[['Math','English']])

pandas.core.frame.DataFrame

### f. Adding a new column

##### i. With an array

In [11]:
import numpy as np
#create an array of 25 elements
roll_no = np.arange(1,26)
print(len(roll_no))

25

In [12]:
df['Roll no'] = roll_no

In [13]:
df

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average,Roll no
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667,1
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333,2
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667,3
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.000000,4
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.666667,5
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,95.0,93.0,92.0,280.0,93.333333,6
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,70.0,75.0,73.0,218.0,72.666667,7
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,82.0,80.0,78.0,240.0,80.000000,8
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,68.0,70.0,65.0,203.0,67.666667,9
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,89.0,87.0,90.0,266.0,88.666667,10
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,75.0,74.0,NaN,NaN,NaN,11
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,80.0,NaN,82.0,NaN,NaN,12
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,NaN,85.0,88.0,NaN,NaN,13
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,86.0,82.0,84.0,252.0,84.000000,14
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,91.0,90.0,89.0,270.0,90.000000,15
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,78.0,76.0,75.0,229.0,76.333333,16
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,84.0,88.0,81.0,253.0,84.333333,17
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,88.0,84.0,86.0,258.0,86.000000,18
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,73.0,NaN,77.0,NaN,NaN,19
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,NaN,79.0,80.0,NaN,NaN,20
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.000000,21
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN,22
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667,23
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333,24
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000,25

In [14]:
# First value is inclusive and last value is exclusive
random_array = np.random.randint(1,100, size = 3529)
print(random_array)
print(len(random_array))
# generates an array of length 3529 with values between 1 and 99

[16 20 19 ... 72 12 42]
3529

In [15]:
# generataing random float numbers
np.random.uniform(1,100,size= 100)

array([73.54670132, 97.31572181, 84.95019975, 36.63551959, 97.74767249,
       39.22640471, 27.29516747, 22.7299385 , 30.82144784,  2.45278467,
       97.16690141, 80.22232376, 93.00284627, 20.48695306, 79.97985524,
       14.19630821, 97.88279394, 53.78068945, 36.46617805, 80.13623764,
       40.33556626, 33.92009071, 73.02994816, 57.60369791, 69.51811006,
        6.82984993, 82.16243847,  4.51133396, 98.82716454, 22.26933642,
       57.68090155, 91.94514907, 62.80439763,  4.89466568, 70.72668316,
       59.22448255, 66.96397559,  9.69331784, 59.46640723, 35.32897727,
       66.43077498, 87.67614694, 87.44144957, 73.80902218,  7.78102356,
       77.20248347, 57.13349302, 75.73118544, 84.65381372, 35.23105156,
       92.36558531, 13.25160255, 30.69491265, 92.34942934, 45.60620503,
       15.60980643, 55.94234864, 32.87357967, 82.9959086 ,  8.25873601,
       89.15427902, 97.32441726, 16.74925898, 31.49833629, 70.45045165,
       40.25315658, 46.66618669, 69.60064984, 52.64160261, 67.21472453,
        9.93402663, 34.04430582, 17.09941924, 15.28455343, 33.31868214,
       80.01092399, 33.88952268, 14.76880683, 17.51563067, 24.8797917 ,
       99.76737055, 82.80107804, 12.52423751, 92.67206022,  9.85486548,
        4.06860104, 11.22625165, 64.44951171, 39.409524  , 31.53825532,
       34.62724649, 48.66055997, 28.13922798, 45.38583698, 47.24131629,
       74.00084692, 48.50416509,  8.16626974, 65.77459041, 55.45586634])

ii. Using Array

In [16]:
#Adding a new column using assign. When we want to add multiple columns in single line of code and when you need to overwrite the values of existing column.
import numpy as np
social_score = np.random.randint(1,100,size = 25)
hindi_score = np.random.randint(1,100,size = 25)
social = pd.Series(social_score,index = np.arange(0,25))
hindi = pd.Series(hindi_score,index = np.arange(0,25))
#here if we dont assign it back to the data frame i.e df the original data frame doesn't get updated it will still show the dataframe without the new columns
df = df.assign(Social = social,Hindi = hindi)
df

,Student_ID,Name,Age,Gender,Class,City,Address,Math,Science,English,Total,Average,Roll no,Social,Hindi
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,85.0,78.0,88.0,251.0,83.666667,1,61,66
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,92.0,89.0,90.0,271.0,90.333333,2,12,33
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,76.0,72.0,70.0,218.0,72.666667,3,68,72
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,88.0,91.0,85.0,264.0,88.000000,4,21,39
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,90.0,84.0,86.0,260.0,86.666667,5,48,98
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,95.0,93.0,92.0,280.0,93.333333,6,33,21
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,70.0,75.0,73.0,218.0,72.666667,7,73,53
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,82.0,80.0,78.0,240.0,80.000000,8,1,40
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,68.0,70.0,65.0,203.0,67.666667,9,40,5
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,89.0,87.0,90.0,266.0,88.666667,10,12,5
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,75.0,74.0,NaN,NaN,NaN,11,27,33
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,80.0,NaN,82.0,NaN,NaN,12,39,30
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,NaN,85.0,88.0,NaN,NaN,13,91,69
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,86.0,82.0,84.0,252.0,84.000000,14,46,89
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,91.0,90.0,89.0,270.0,90.000000,15,6,43
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,78.0,76.0,75.0,229.0,76.333333,16,11,24
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,84.0,88.0,81.0,253.0,84.333333,17,77,90
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,88.0,84.0,86.0,258.0,86.000000,18,54,87
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,73.0,NaN,77.0,NaN,NaN,19,98,81
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,NaN,79.0,80.0,NaN,NaN,20,92,41
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,90.0,92.0,91.0,273.0,91.000000,21,7,64
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,87.0,86.0,NaN,NaN,NaN,22,7,10
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,65.0,68.0,70.0,203.0,67.666667,23,71,91
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,72.0,71.0,74.0,217.0,72.333333,24,58,46
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,88.0,89.0,87.0,264.0,88.000000,25,12,89

In [17]:
kannada_score = np.random.randint(1,100,size = 25)
df.insert(7,'Kannada',kannada_score)
df

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,67,85.0,78.0,88.0,251.0,83.666667,1,61,66
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,60,92.0,89.0,90.0,271.0,90.333333,2,12,33
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,29,90.0,84.0,86.0,260.0,86.666667,5,48,98
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,83,86.0,82.0,84.0,252.0,84.000000,14,46,89
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,26,91.0,90.0,89.0,270.0,90.000000,15,6,43
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,98,84.0,88.0,81.0,253.0,84.333333,17,77,90
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,74,88.0,84.0,86.0,258.0,86.000000,18,54,87
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,83,73.0,NaN,77.0,NaN,NaN,19,98,81
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,82,NaN,79.0,80.0,NaN,NaN,20,92,41
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,66,90.0,92.0,91.0,273.0,91.000000,21,7,64
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,98,88.0,89.0,87.0,264.0,88.000000,25,12,89

In [18]:
df['Kannada'].sum()

np.int64(1724)

In [19]:
print('count',df['Kannada'].count())
print('mean',df['Kannada'].mean())
print('describe',df['Kannada'].describe())

count 25
mean 68.96
describe count    25.000000
mean     68.960000
std      24.944071
min      23.000000
25%      50.000000
50%      76.000000
75%      89.000000
max      98.000000
Name: Kannada, dtype: float64

In [20]:
df['Maths_Science'] = df['Math'] + df['Science']
df

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,67,85.0,78.0,88.0,251.0,83.666667,1,61,66,163.0
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,60,92.0,89.0,90.0,271.0,90.333333,2,12,33,181.0
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39,179.0
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,29,90.0,84.0,86.0,260.0,86.666667,5,48,98,174.0
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21,188.0
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53,145.0
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40,162.0
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5,138.0
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5,176.0
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30,NaN
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,83,86.0,82.0,84.0,252.0,84.000000,14,46,89,168.0
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,26,91.0,90.0,89.0,270.0,90.000000,15,6,43,181.0
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,98,84.0,88.0,81.0,253.0,84.333333,17,77,90,172.0
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,74,88.0,84.0,86.0,258.0,86.000000,18,54,87,172.0
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,83,73.0,NaN,77.0,NaN,NaN,19,98,81,NaN
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,82,NaN,79.0,80.0,NaN,NaN,20,92,41,NaN
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,66,90.0,92.0,91.0,273.0,91.000000,21,7,64,182.0
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91,133.0
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46,143.0
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,98,88.0,89.0,87.0,264.0,88.000000,25,12,89,177.0

In [21]:
print('count',df['Maths_Science'].count())
print('value count',df['Maths_Science'].value_counts())
#normalize = true returns the proportions of each value i.e., count/ total count
print('value count with normailize true',df['Maths_Science'].value_counts(normalize=True))

count 21
value count Maths_Science
181.0    2
172.0    2
163.0    1
148.0    1
179.0    1
188.0    1
174.0    1
162.0    1
138.0    1
176.0    1
145.0    1
149.0    1
168.0    1
154.0    1
182.0    1
173.0    1
133.0    1
143.0    1
177.0    1
Name: count, dtype: int64
value count with normailize true Maths_Science
181.0    0.095238
172.0    0.095238
163.0    0.047619
148.0    0.047619
179.0    0.047619
188.0    0.047619
174.0    0.047619
162.0    0.047619
138.0    0.047619
176.0    0.047619
145.0    0.047619
149.0    0.047619
168.0    0.047619
154.0    0.047619
182.0    0.047619
173.0    0.047619
133.0    0.047619
143.0    0.047619
177.0    0.047619
Name: proportion, dtype: float64

In [22]:
df.sort_values(by = 'Name',ascending= False)

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5,138.0
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,98,84.0,88.0,81.0,253.0,84.333333,17,77,90,172.0
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,98,88.0,89.0,87.0,264.0,88.000000,25,12,89,177.0
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21,188.0
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69,NaN
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,82,NaN,79.0,80.0,NaN,NaN,20,92,41,NaN
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39,179.0
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5,176.0
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40,162.0
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91,133.0
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30,NaN
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,83,73.0,NaN,77.0,NaN,NaN,19,98,81,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,83,86.0,82.0,84.0,252.0,84.000000,14,46,89,168.0
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,29,90.0,84.0,86.0,260.0,86.666667,5,48,98,174.0
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,74,88.0,84.0,86.0,258.0,86.000000,18,54,87,172.0
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46,143.0
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53,145.0
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,60,92.0,89.0,90.0,271.0,90.333333,2,12,33,181.0
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,26,91.0,90.0,89.0,270.0,90.000000,15,6,43,181.0
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,66,90.0,92.0,91.0,273.0,91.000000,21,7,64,182.0
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,67,85.0,78.0,88.0,251.0,83.666667,1,61,66,163.0

In [23]:
# 1. First priority is given to Rating followed by series1
# 2. inplaceTrue will update the original dataFrame and we need not reassign the value again
# 3.When you sort by more than one column, pandas uses the same logic:
  #i.It sorts by the first column.
  #ii.If two or more rows have the same value in the first column, it sorts those rows by the second column.
  #iii.If theres still a tie, it sorts by the third column.
df.sort_values(by = ['Name','Age'],ascending= False,inplace=True)
df

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5,138.0
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,98,84.0,88.0,81.0,253.0,84.333333,17,77,90,172.0
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,98,88.0,89.0,87.0,264.0,88.000000,25,12,89,177.0
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21,188.0
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69,NaN
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,82,NaN,79.0,80.0,NaN,NaN,20,92,41,NaN
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39,179.0
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5,176.0
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40,162.0
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91,133.0
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30,NaN
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,83,73.0,NaN,77.0,NaN,NaN,19,98,81,NaN
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,83,86.0,82.0,84.0,252.0,84.000000,14,46,89,168.0
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,29,90.0,84.0,86.0,260.0,86.666667,5,48,98,174.0
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,74,88.0,84.0,86.0,258.0,86.000000,18,54,87,172.0
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46,143.0
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53,145.0
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,60,92.0,89.0,90.0,271.0,90.333333,2,12,33,181.0
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,26,91.0,90.0,89.0,270.0,90.000000,15,6,43,181.0
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,66,90.0,92.0,91.0,273.0,91.000000,21,7,64,182.0
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,67,85.0,78.0,88.0,251.0,83.666667,1,61,66,163.0

In [24]:
#sort the values of the product name column in ascending order by changing all values to lowercase
df.sort_values('Name',ascending = True,key =lambda col:col.str.lower())

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
0,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,67,85.0,78.0,88.0,251.0,83.666667,1,61,66,163.0
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,66,90.0,92.0,91.0,273.0,91.000000,21,7,64,182.0
14,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,26,91.0,90.0,89.0,270.0,90.000000,15,6,43,181.0
1,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,60,92.0,89.0,90.0,271.0,90.333333,2,12,33,181.0
6,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53,145.0
23,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46,143.0
17,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,74,88.0,84.0,86.0,258.0,86.000000,18,54,87,172.0
4,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,29,90.0,84.0,86.0,260.0,86.666667,5,48,98,174.0
13,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,83,86.0,82.0,84.0,252.0,84.000000,14,46,89,168.0
18,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,83,73.0,NaN,77.0,NaN,NaN,19,98,81,NaN
11,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30,NaN
22,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91,133.0
7,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40,162.0
15,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0
9,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5,176.0
3,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39,179.0
10,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0
19,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,82,NaN,79.0,80.0,NaN,NaN,20,92,41,NaN
2,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0
12,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69,NaN
21,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0
5,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21,188.0
24,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,98,88.0,89.0,87.0,264.0,88.000000,25,12,89,177.0
16,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,98,84.0,88.0,81.0,253.0,84.333333,17,77,90,172.0
8,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5,138.0

In [25]:
import random
new_index = np.arange(0,25)
random.shuffle(new_index)
df['random'] = new_index
#create a new index column
df.set_index('random',inplace=True)
#sort the rows based on the index
df.sort_index()

,Student_ID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
random,,,,,,,,,,,,,,,,,
0,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91,133.0
1,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0
2,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69,NaN
3,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0
4,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,67,85.0,78.0,88.0,251.0,83.666667,1,61,66,163.0
5,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,98,84.0,88.0,81.0,253.0,84.333333,17,77,90,172.0
6,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40,162.0
7,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53,145.0
8,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0
9,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30,NaN
10,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,98,88.0,89.0,87.0,264.0,88.000000,25,12,89,177.0
11,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,83,86.0,82.0,84.0,252.0,84.000000,14,46,89,168.0
12,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,83,73.0,NaN,77.0,NaN,NaN,19,98,81,NaN
13,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46,143.0
14,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,29,90.0,84.0,86.0,260.0,86.666667,5,48,98,174.0
15,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0
16,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21,188.0
17,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5,176.0
18,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39,179.0
19,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5,138.0
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,66,90.0,92.0,91.0,273.0,91.000000,21,7,64,182.0
21,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,60,92.0,89.0,90.0,271.0,90.333333,2,12,33,181.0
22,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,82,NaN,79.0,80.0,NaN,NaN,20,92,41,NaN
23,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,74,88.0,84.0,86.0,258.0,86.000000,18,54,87,172.0
24,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,26,91.0,90.0,89.0,270.0,90.000000,15,6,43,181.0

In [26]:
#Renaming columns
df.rename(columns={'Student_ID':'StudentID'},inplace=True)
# renaming the index column
df.index.name = 'RollNo'
df

,StudentID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
RollNo,,,,,,,,,,,,,,,,,
19,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5,138.0
5,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,98,84.0,88.0,81.0,253.0,84.333333,17,77,90,172.0
10,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,98,88.0,89.0,87.0,264.0,88.000000,25,12,89,177.0
16,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21,188.0
1,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0
2,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69,NaN
8,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0
22,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,82,NaN,79.0,80.0,NaN,NaN,20,92,41,NaN
15,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0
18,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39,179.0
17,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5,176.0
3,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0
6,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40,162.0
0,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91,133.0
9,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30,NaN
12,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,83,73.0,NaN,77.0,NaN,NaN,19,98,81,NaN
11,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,83,86.0,82.0,84.0,252.0,84.000000,14,46,89,168.0
14,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,29,90.0,84.0,86.0,260.0,86.666667,5,48,98,174.0
23,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,74,88.0,84.0,86.0,258.0,86.000000,18,54,87,172.0
13,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46,143.0
7,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53,145.0
21,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,60,92.0,89.0,90.0,271.0,90.333333,2,12,33,181.0
24,S015,Amit Kumar,17.0,Male,12,Patna,Rajendra Nagar,26,91.0,90.0,89.0,270.0,90.000000,15,6,43,181.0
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,66,90.0,92.0,91.0,273.0,91.000000,21,7,64,182.0
4,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,67,85.0,78.0,88.0,251.0,83.666667,1,61,66,163.0

In [27]:
#rename the value 0 in the index column to zero
df.rename(index={0:'zero'},inplace=True)
df.head(15)

,StudentID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science
RollNo,,,,,,,,,,,,,,,,,
19,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5,138.0
5,S017,Varun Bansal,NaN,Male,11,Gurgaon,DLF Phase 3,98,84.0,88.0,81.0,253.0,84.333333,17,77,90,172.0
10,S025,Tanmay Ghosh,16.0,Male,11,Ranchi,Main Road,98,88.0,89.0,87.0,264.0,88.000000,25,12,89,177.0
16,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21,188.0
1,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0
2,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69,NaN
8,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0
22,S020,Ritu Saxena,14.0,Female,9,Udaipur,Hiran Magri,82,NaN,79.0,80.0,NaN,NaN,20,92,41,NaN
15,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0
18,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39,179.0
17,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5,176.0
3,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0
6,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40,162.0
zero,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91,133.0
9,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30,NaN

### g. Web Scraping using Pandas

In [ ]:
df_premier = pd.read_csv('https://www.football-data.co.uk/mmz4281/2122/E0.csv')

In [ ]:
df_premier.rename(columns={'FTHG':'home_goals','FTAG':'away_goals'},inplace = True)
df_premier

In [ ]:
### h. Read csv from multiple url

In [ ]:
root = 'https://www.football-data.co.uk/mmz4281/'
leagues = ['E0','E2','E3']
frames = []
for league in leagues:
  for season in range(15,21):
    league_data = pd.read_csv(root + str(season)+ str(season+1) +'/'+league+'.csv',encoding = 'unicode_escape')
    league_data.insert(1,'season',season)
    frames.append(league_data)
print(frames)

1.The encoding='unicode_escape' parameter in pandas.read_csv() is used to handle special or non-standard characters in a CSV file, especially when the file contains characters that aren't properly encoded in UTF-8 or other common encodings.
Here's why it's used:


a. Escape Sequences: It interprets backslashes (\) as escape characters. For example, \n becomes a newline, \t becomes a tab, etc. This is useful when the file contains such sequences embedded in text.


b. Avoiding Encoding Errors: Some CSV files downloaded from the web (like football-data.co.uk) may contain characters that cause decoding errors with default encodings. unicode_escape helps bypass these errors by treating unknown characters as escaped Unicode.


c. Legacy Data Compatibility: It's often used when dealing with older or inconsistently formatted datasets that don't conform to modern encoding standards.

In [ ]:
len(frames)

In [ ]:
frames[17]

In [ ]:
df_concat = pd.concat(frames)
#combines all the dataframes into one dataframe
df_concat

In [ ]:
df

In [ ]:
print('Age Value count',df['Age'].value_counts())
print('City Patna',df[df['City'] == 'Patna'])

In [ ]:
df['Science_Student'] = np.where((df['Math']> 80.0) & (df['Science'] > 80.0),1,0)
df

In [ ]:
df['Science_Student'].value_counts()

In [ ]:
print(df[ (df['Math']>80.0) & (df['Science']>80.0)])

### i. Creating a conditional column from more than 2 choices:np.select()

In [28]:
df.dtypes

StudentID         object
Name              object
Age              float64
Gender            object
Class              int64
City              object
Address           object
Kannada            int64
Math             float64
Science          float64
English          float64
Total            float64
Average          float64
Roll no            int64
Social             int64
Hindi              int64
Maths_Science    float64
dtype: object

In [35]:
conditions = [
    df['English'] > 75.0,
    (df['Kannada'] > 75.0) & (df['Hindi'] > 75.0)
]
values = ['Good in English', 'Good in kannada/Hindi']
df['Language'] = np.select(conditions, values, default='Other')
print(df['Language'].value_counts())

Language
Good in English          17
Other                     7
Good in kannada/Hindi     1
Name: count, dtype: int64

In [36]:
df[df['Language'] == 'Other']

,StudentID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science,Language
RollNo,,,,,,,,,,,,,,,,,,
19,S009,Vikram Joshi,15.0,Male,10,Jaipur,Pink City Enclave,82,68.0,70.0,65.0,203.0,67.666667,9,40,5,138.0,Other
1,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0,Other
8,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0,Other
15,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0,Other
3,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0,Other
13,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46,143.0,Other
7,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53,145.0,Other

### j. isIn
isin() is a Pandas method used to check whether values exist in a given list (or set).

It returns True / False for each value.

In [37]:
df['City'].isin(['Jaipur','Amritsar'])

RollNo
19       True
5       False
10      False
16      False
1        True
2       False
8       False
22      False
15      False
18      False
17      False
3       False
6       False
zero    False
9       False
12      False
11      False
14      False
23      False
13      False
7       False
21      False
24      False
20      False
4       False
Name: City, dtype: bool

In [39]:
df[df['City'].isin(['Jaipur','Amritsar'])].value_counts('City')

City
Amritsar    1
Jaipur      1
Name: count, dtype: int64

In [41]:
#multiple filtering
filter1 = df['City'].isin(['Jaipur','Amritsar'])
filter2 = df['Gender'].isin(['Female'])
df[filter1 & filter2]

,StudentID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science,Language
RollNo,,,,,,,,,,,,,,,,,,
1,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0,Other

k.Find duplicate rows with .duplicated() Method

In [42]:
df.duplicated('Age')

RollNo
19      False
5       False
10      False
16       True
1        True
2        True
8        True
22      False
15       True
18       True
17       True
3        True
6        True
zero     True
9        True
12       True
11       True
14       True
23       True
13       True
7        True
21       True
24      False
20       True
4        True
dtype: bool

In [43]:
df[df.duplicated('Age')]

,StudentID,Name,Age,Gender,Class,City,Address,Kannada,Math,Science,English,Total,Average,Roll no,Social,Hindi,Maths_Science,Language
RollNo,,,,,,,,,,,,,,,,,,
16,S006,Sneha Iyer,15.0,Female,10,Chennai,Lake View Street,76,95.0,93.0,92.0,280.0,93.333333,6,33,21,188.0,Good in English
1,S022,Simran Kaur,15.0,Female,10,Amritsar,GT Road,90,87.0,86.0,NaN,NaN,NaN,22,7,10,173.0,Other
2,S013,Siddharth Jain,16.0,Male,11,Indore,Civil Lines,28,NaN,85.0,88.0,NaN,NaN,13,91,69,NaN,Good in English
8,S003,Rohan Patel,15.0,Male,10,Ahmedabad,Shree Nagar Society,48,76.0,72.0,70.0,218.0,72.666667,3,68,72,148.0,Other
15,S011,Rahul Das,15.0,Male,10,Kolkata,NaN,74,75.0,74.0,NaN,NaN,NaN,11,27,33,149.0,Other
18,S004,Priya Singh,14.0,Female,9,Lucknow,Alambagh Colony,32,88.0,91.0,85.0,264.0,88.000000,4,21,39,179.0,Good in English
17,S010,Pooja Nair,16.0,Female,11,Kochi,Palm Grove,93,89.0,87.0,90.0,266.0,88.666667,10,12,5,176.0,Good in English
3,S016,Nisha Gupta,14.0,Female,9,Noida,NaN,23,78.0,76.0,75.0,229.0,76.333333,16,11,24,154.0,Other
6,S008,Neha Kulkarni,14.0,Female,9,Nagpur,Shanti Nagar,89,82.0,80.0,78.0,240.0,80.000000,8,1,40,162.0,Good in English
zero,S023,Mohit Aggarwal,NaN,Male,12,Faridabad,NaN,90,65.0,68.0,70.0,203.0,67.666667,23,71,91,133.0,Good in kannada/Hindi
9,S012,Meera Kapoor,NaN,Female,9,NaN,Lajpat Nagar,87,80.0,NaN,82.0,NaN,NaN,12,39,30,NaN,Good in English
12,S019,Manish Yadav,15.0,Male,10,Bhopal,MP Nagar,83,73.0,NaN,77.0,NaN,NaN,19,98,81,NaN,Good in English
11,S014,Kavya Malhotra,15.0,Female,10,Chandigarh,Sector 22,83,86.0,82.0,84.0,252.0,84.000000,14,46,89,168.0,Good in English
14,S005,Karan Mehta,16.0,Male,11,Pune,Baner Road,29,90.0,84.0,86.0,260.0,86.666667,5,48,98,174.0,Good in English
23,S018,Isha Choudhary,16.0,Female,10,NaN,Model Town,74,88.0,84.0,86.0,258.0,86.000000,18,54,87,172.0,Good in English
13,S024,Ayesha Khan,14.0,Female,9,NaN,Park Street,50,72.0,71.0,74.0,217.0,72.333333,24,58,46,143.0,Other
7,S007,Arjun Rao,16.0,Male,11,Bengaluru,Tech Park Residency,96,70.0,75.0,73.0,218.0,72.666667,7,73,53,145.0,Other
21,S002,Ananya Verma,14.0,Female,9,Mumbai,Sunrise Apartments,60,92.0,89.0,90.0,271.0,90.333333,2,12,33,181.0,Good in English
20,S021,Aditya Mishra,16.0,Male,11,Allahabad,Civil Lines,66,90.0,92.0,91.0,273.0,91.000000,21,7,64,182.0,Good in English
4,S001,Aarav Sharma,15.0,Male,10,Delhi,12A Green Park,67,85.0,78.0,88.0,251.0,83.666667,1,61,66,163.0,Good in English

In [45]:
df.duplicated(['City','Age'])

RollNo
19      False
5       False
10      False
16      False
1       False
2       False
8       False
22      False
15      False
18      False
17      False
3       False
6       False
zero    False
9       False
12      False
11      False
14      False
23      False
13      False
7       False
21      False
24      False
20      False
4       False
dtype: bool