<a href="https://colab.research.google.com/github/NehaSrinivas98/MachineLearningCourse/blob/main/pandasNumpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=CMEWVn1uZpQ&t=72s

# **1.Pandas**
Pandas is an open-source Python library widely used for data manipulation and analysis. It provides powerful and flexible data structures, particularly Series and DataFrames, that make working with "relational" or "labeled" data intuitive and efficient.

###a. Pandas/Python vs Excel
  1. Excel can handle 1 million rows Pandas/Python can handle millions and millions of rows
  2. Pandas/Python can handle complex data structure when compared to excel
  3. Pandas/Python is good for automation where as excel is not automatable.
  4. Pandas/Python has cross compatibility where as excel does not.

###b. Arrays
* 1D array : Series
* 2D array: Dataframe

###c.Dataframe
  * A DataFrame in Python is a two-dimensional, labeled data structure provided by the pandas library. It is designed for data manipulation and analysis, resembling a table or spreadsheet with rows and columns.
  * Index starts with 0
  * Dataframe can store int,str,tuple etc
  * column names are also known as Features
  * Row values are also known as Observation
  * We will get errors when we try to store different data types data in same column.
  * Pandas vs Excel terminology

<table>
  <tr>
    <th>
      Excel
    </th>
    <th>
      Pandas
    </th>
  </tr>
  <tr>
    <td>
      Worksheet
    </td>
    <td>
      Dataframe
    </td>
  </tr>
  <tr>
    <td>
      Row heading
    </td>
    <td>
      Index
    </td>
  </tr>
  <tr>
    <td>
      Row
    </td>
    <td>
      Row
    </td>
  </tr>
  <tr>
    <td>
      Empty Cell
    </td>
    <td>
      Nan
    </td>
  </tr>
</table>

### d. Creating a dataframe

In [1]:
import pandas as pd
import numpy as np

##### i. Using Array

In [6]:
#1.Numpy
data = np.array([[1,4],[2,5],[3,6]])
pd.DataFrame(data,index=['row1','row2','row3'],
             columns=['col1','col2'])

In [3]:
#2. List
data = [[1,4],[2,5],[3,6]]
pd.DataFrame(data,index=['row1','row2','row3'],
             columns=['col1','col2'])

      col1  col2
row1     1     4
row2     2     5
row3     3     6

##### ii. Using Dictionaries

In [4]:
states = ['California','Texus','Florida','New York']
population = [1234,5678,9012,2345]
# storing lists within dictionaries
dict_state = {'States':states,'Population':population}
pd.DataFrame(dict_state)
df_population = pd.DataFrame(dict_state,index=[1,2,3,4])
print(df_population)

       States  Population
1  California        1234
2       Texus        5678
3     Florida        9012
4    New York        2345

##### iii. Csv

In [5]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

import pandas as pd

# Replace with your actual path
file_path = '/content/drive/My Drive/Colab Notebooks/dataSet.csv'
df = pd.read_csv(file_path)

MessageError: Error: credential propagation was unsuccessful

### e. Displaying data in pandas

In [ ]:
import pandas as pd

# Create the dataset
data = {
    "Student_ID": [f"S{str(i).zfill(3)}" for i in range(1, 26)],

    "Name": [
        "Aarav Sharma", "Ananya Verma", "Rohan Patel", "Priya Singh", "Karan Mehta",
        "Sneha Iyer", "Arjun Rao", "Neha Kulkarni", "Vikram Joshi", "Pooja Nair",
        "Rahul Das", "Meera Kapoor", "Siddharth Jain", "Kavya Malhotra", "Amit Kumar",
        "Nisha Gupta", "Varun Bansal", "Isha Choudhary", "Manish Yadav", "Ritu Saxena",
        "Aditya Mishra", "Simran Kaur", "Mohit Aggarwal", "Ayesha Khan", "Tanmay Ghosh"
    ],

    "Age": [
        15, 14, 15, 14, 16, 15, 16, 14, 15, 16,
        15, np.nan, 16, 15, 17, 14, np.nan, 16, 15, 14,
        16, 15, np.nan, 14, 16
    ],

    "Gender": [
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male",
        "Female", "Male", "Female", "Male", "Female",
        "Male", "Female", "Male", "Female", "Male"
    ],

    "Class": [
        10, 9, 10, 9, 11, 10, 11, 9, 10, 11,
        10, 9, 11, 10, 12, 9, 11, 10, 10, 9,
        11, 10, 12, 9, 11
    ],

    "City": [
        "Delhi", "Mumbai", "Ahmedabad", "Lucknow", "Pune",
        "Chennai", "Bengaluru", "Nagpur", "Jaipur", "Kochi",
        "Kolkata", np.nan, "Indore", "Chandigarh", "Patna",
        "Noida", "Gurgaon", np.nan, "Bhopal", "Udaipur",
        "Allahabad", "Amritsar", "Faridabad", np.nan, "Ranchi"
    ],

    "Address": [
        "12A Green Park", "Sunrise Apartments", "Shree Nagar Society", "Alambagh Colony",
        "Baner Road", "Lake View Street", "Tech Park Residency", "Shanti Nagar",
        "Pink City Enclave", "Palm Grove",
        np.nan, "Lajpat Nagar", "Civil Lines", "Sector 22",
        "Rajendra Nagar", np.nan, "DLF Phase 3", "Model Town",
        "MP Nagar", "Hiran Magri",
        "Civil Lines", "GT Road", np.nan, "Park Street", "Main Road"
    ],

    "Math": [
        85, 92, 76, 88, 90, 95, 70, 82, 68, 89,
        75, 80, np.nan, 86, 91, 78, 84, 88, 73, np.nan,
        90, 87, 65, 72, 88
    ],

    "Science": [
        78, 89, 72, 91, 84, 93, 75, 80, 70, 87,
        74, np.nan, 85, 82, 90, 76, 88, 84, np.nan, 79,
        92, 86, 68, 71, 89
    ],

    "English": [
        88, 90, 70, 85, 86, 92, 73, 78, 65, 90,
        np.nan, 82, 88, 84, 89, 75, 81, 86, 77, 80,
        91, np.nan, 70, 74, 87
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Calculate Total and Average
df["Total"] = df["Math"] + df["Science"] + df["English"]
df["Average"] = df["Total"] / 3

# Display the DataFrame
print(df)

In [ ]:
df.head()#returns the first 5 rows

In [ ]:
df.tail() #returns the last 5 rows

In [ ]:
df.head(3) #displays first 3 rows

In [ ]:
df.tail(3) #displays last 3 rows

In [ ]:
df.shape

In [ ]:
pd.set_option('display.max_rows',None)
df

1.   pd.setOption() is used to configure Pandas to display all rows of a DataFrame when you print it in Google Colab (or any Python environment). By default, Pandas truncates the output if there are too many rows.
2.   it can be reset using pd.reset_option('display.max_rows')
*   display.width:           Width of the display in characters
*   display.max_colwidth :    Max width of each column (use None for unlimited)*   display.precision:      Number of decimal places for floats
*   display.float_format:   Format for floating point numbers (e.g., '{:.2f}'.format)
*   display.expand_frame_repr: Whether to print DataFrames across multiple lines
*   display.large_repr:       How large DataFrames are printed ('truncate' or 'info')
*   display.colheader_justify: Justification of column headers ('left', 'right', 'center')
*   display.show_dimensions:   Whether to show DataFrame shape info when printing
3. the second argument can be 'None' which means display all the rows or some number which represents the number of rows to be displayed

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.info

In [ ]:
df.describe()
#https://www.geeksforgeeks.org/pandas/python-pandas-dataframe-describe-method/

In [ ]:
len(df)

In [ ]:
max(df) #In Python, the built-in max() function operates on the column labels, not on the data itself.
#It returns the maximum column name (lexicographically) by default, not based on non-null counts.
#Lexicographical order is basically dictionary order — the way words are ordered in a dictionary.
#For strings, Python compares characters from left to right using their Unicode/ASCII values.
#print("apple" < "banana")   # True, because 'a' < 'b'
#print("cat" < "car")        # False, because 't' > 'r'
#print("A" < "a")            # True, uppercase letters come before lowercase
#print("B" > "A")            # True

In [ ]:
print(df['Age'].min())  # returns the minimum value in price column applies for max as well
print(df.count().max()) # returns the number of max non null values
print(df.count()[df.count()==df.count().max()]) # returns the columns in the dataframe which has maximum non null values.

In [ ]:
print(df.index)
print(max(df.index))

In [ ]:
round(df,2)

In [ ]:
df['Address']

In [ ]:
type(df['Address'])

In [ ]:
df['Address'].index

In [ ]:
df.Math

In [ ]:
# advantage of using df['columnName'] over df.columnName is when the column name is having a space the second method is more convinient and we cannot select multiple columns using dot operator

#selecting the columns: order of the columns mentioned in the list is the order of the columns accessed.
# one pair of square brackets returns a series whereas 2 square brackets returns a data frame.
df[['Science','English']]

In [ ]:
type(df[['Math','English']])

### f. Adding a new column

##### i. With an array

In [ ]:
import numpy as np
#create an array of 25 elements
roll_no = np.arange(1,26)
print(len(roll_no))

In [ ]:
df['Roll no'] = roll_no

In [ ]:
df

In [ ]:
# First value is inclusive and last value is exclusive
random_array = np.random.randint(1,100, size = 3529)
print(random_array)
print(len(random_array))
# generates an array of length 3529 with values between 1 and 99

In [ ]:
# generataing random float numbers
np.random.uniform(1,100,size= 100)

ii. Using Array

In [ ]:
#Adding a new column using assign. When we want to add multiple columns in single line of code and when you need to overwrite the values of existing column.
import numpy as np
social_score = np.random.randint(1,100,size = 25)
hindi_score = np.random.randint(1,100,size = 25)
social = pd.Series(social_score,index = np.arange(0,25))
hindi = pd.Series(hindi_score,index = np.arange(0,25))
#here if we dont assign it back to the data frame i.e df the original data frame doesn't get updated it will still show the dataframe without the new columns
df = df.assign(Social = social,Hindi = hindi)
df

In [ ]:
kannada_score = np.random.randint(1,100,size = 25)
df.insert(7,'Kannada',kannada_score)
df

In [ ]:
df['Kannada'].sum()

In [ ]:
print('count',df['Kannada'].count())
print('mean',df['Kannada'].mean())
print('describe',df['Kannada'].describe())

In [ ]:
df['Maths_Science'] = df['Math'] + df['Science']
df

In [ ]:
print('count',df['Maths_Science'].count())
print('value count',df['Maths_Science'].value_counts())
#normalize = true returns the proportions of each value i.e., count/ total count
print('value count with normailize true',df['Maths_Science'].value_counts(normalize=True))

In [ ]:
df.sort_values(by = 'Name',ascending= False)

In [ ]:
# 1. First priority is given to Rating followed by series1
# 2. inplaceTrue will update the original dataFrame and we need not reassign the value again
# 3.When you sort by more than one column, pandas uses the same logic:
  #i.It sorts by the first column.
  #ii.If two or more rows have the same value in the first column, it sorts those rows by the second column.
  #iii.If there’s still a tie, it sorts by the third column.
df.sort_values(by = ['Name','Age'],ascending= False,inplace=True)
df

In [ ]:
#sort the values of the product name column in ascending order by changing all values to lowercase
df.sort_values('Name',ascending = True,key =lambda col:col.str.lower())

In [ ]:
import random
new_index = np.arange(0,25)
random.shuffle(new_index)
df['random'] = new_index
#create a new index column
df.set_index('random',inplace=True)
#sort the rows based on the index
df.sort_index()

In [ ]:
#Renaming columns
df.rename(columns={'Student_ID':'StudentID'},inplace=True)
# renaming the index column
df.index.name = 'RollNo'
df

In [ ]:
#rename the value 0 in the index column to zero
df.rename(index={0:'zero'},inplace=True)
df.head(15)

### g. Web Scraping using Pandas

In [ ]:
df_premier = pd.read_csv('https://www.football-data.co.uk/mmz4281/2122/E0.csv')

In [ ]:
df_premier.rename(columns={'FTHG':'home_goals','FTAG':'away_goals'},inplace = True)
df_premier

In [ ]:
### h. Read csv from multiple url

In [ ]:
root = 'https://www.football-data.co.uk/mmz4281/'
leagues = ['E0','E2','E3']
frames = []
for league in leagues:
  for season in range(15,21):
    league_data = pd.read_csv(root + str(season)+ str(season+1) +'/'+league+'.csv',encoding = 'unicode_escape')
    league_data.insert(1,'season',season)
    frames.append(league_data)
print(frames)

1.The encoding='unicode_escape' parameter in pandas.read_csv() is used to handle special or non-standard characters in a CSV file, especially when the file contains characters that aren't properly encoded in UTF-8 or other common encodings.
Here's why it's used:


a. Escape Sequences: It interprets backslashes (\) as escape characters. For example, \n becomes a newline, \t becomes a tab, etc. This is useful when the file contains such sequences embedded in text.


b. Avoiding Encoding Errors: Some CSV files downloaded from the web (like football-data.co.uk) may contain characters that cause decoding errors with default encodings. unicode_escape helps bypass these errors by treating unknown characters as escaped Unicode.


c. Legacy Data Compatibility: It's often used when dealing with older or inconsistently formatted datasets that don't conform to modern encoding standards.

In [ ]:
len(frames)

In [ ]:
frames[17]

In [ ]:
df_concat = pd.concat(frames)
#combines all the dataframes into one dataframe
df_concat

In [ ]:
df

In [ ]:
print('Age Value count',df['Age'].value_counts())
print('City Patna',df[df['City'] == 'Patna'])

In [ ]:
df['Science_Student'] = np.where((df['Math']> 80.0) & (df['Science'] > 80.0),1,0)
df

In [ ]:
df['Science_Student'].value_counts()

In [ ]:
print(df[ (df['Math']>80.0) & (df['Science']>80.0)])

### i. Creating a conditional column from more than 2 choices:np.select()

In [ ]:
df.dtypes

In [ ]:
conditions = [
    df['English'] > 75.0,
    (df['Kannada'] > 75.0) & (df['Hindi'] > 75.0)
]
values = ['Good in English', 'Good in kannada/Hindi']
df['Language'] = np.select(conditions, values, default='Other')
print(df['Language'].value_counts())

In [ ]:
df[df['Language'] == 'Other']

### j. isIn
isin() is a Pandas method used to check whether values exist in a given list (or set).

It returns True / False for each value.

In [ ]:
df['City'].isin(['Jaipur','Amritsar'])

In [ ]:
df[df['City'].isin(['Jaipur','Amritsar'])].value_counts('City')

In [ ]:
#multiple filtering
filter1 = df['City'].isin(['Jaipur','Amritsar'])
filter2 = df['Gender'].isin(['Female'])
df[filter1 & filter2]

k.Find duplicate rows with .duplicated() Method

In [ ]:
df.duplicated('Age')

In [ ]:
df[df.duplicated('Age')]

In [ ]:
df.duplicated(['City','Age'])

In [ ]:
duplicated = df[df.duplicated(['Age'])]
duplicated

In [ ]:
print('duplicated shape',duplicated.shape)
print('df shape',df.shape)

In [ ]:
df[duplicated]