<a href="https://colab.research.google.com/github/NehaSrinivas98/MachineLearningCourse/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=yGN28LY5VuA&t=403s

# **1. Basics**

In [ ]:
print("hello 123")

hello 123

Syntax refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of words and symbols in a code.

Semantics refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

In [ ]:
''' shortcuts :
 # 1. a : add a cell above
 # 2. b : add a cell above
 # 3. m : conver the cell to markdown
 # 4. y: convert cell to code
 # 5. dd: delete cell
 # 6. shift + enter is used to run the cell
 '''
#Using triple-quoted string literals: Triple single quotes (''') or triple double quotes (""") can be used to enclose a multi-line string. If this string is not assigned to a variable or used in an expression, the Python interpreter will ignore it, effectively treating it as a multi-line comment.

' shortcuts :\n # 1. a : add a cell above\n # 2. b : add a cell above\n # 3. m : conver the cell to markdown\n # 4. y: convert cell to code\n # 5. dd: delete cell\n # 6. shift + enter is used to run the cell\n '

In [ ]:
'''
 1. h1 heading: #
 2. h2 heading: ##
'''

'\n 1. h1 heading: #\n 2. h2 heading: ##\n'

In [ ]:
# To get a documentation of a particular function use '??'
print??

In [ ]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [ ]:

## Multiple Statements on a single line
x=5;y=10;z=x+y
print(z)

Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

# **2. Variables**

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.Python is dynamically typed,type of a variable is determined at runtime

In [ ]:
test = 'test'

***Rules for writing a variable***

1.   Variable names can only contain letters, digits and underscores (_).
2.   A variable name cannot start with a digit.
3.   Variable names are case-sensitive (myVar and myvar are different).
4.   Avoid using Python keywords (e.g., if, else, for) as variable names.

In [ ]:
type(test)

str

In [ ]:
age=int(input("What is the age"))
print(age,type(age))

What is the age30
30 <class 'int'>

# **3. Basic Data types**

* Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
* They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

In [ ]:
string_variable = 'string'
integer_variable = 123
float_variable = 12.31
# boolean variable
true_variable = True
false_variable = False

In [ ]:
type_casting_variable_str = str(123)
print(type(type_casting_variable_str))

type_casting_variable_int = int('1234')
print(type(type_casting_variable_int))

type_casting_variable_float = float(123)
print(type(type_casting_variable_float))

type_casting_variable_boolean = bool(0)
print(type(type_casting_variable_boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# a = 123 + 'str' we cannot add operands of 2 different data types.
# c = 'str' + True

In [ ]:
b = 123 + 123.0
print ( b )

246.0

In [ ]:
a=10
b=10
type(a==b)

bool

# **4. Advance Data types**

## **a. List**

1. Lists are ordered, mutable collections of items.
2. They can contain items of different data types.

In [18]:
a = [10,'string',True,[],10.2]

In [19]:
print(a[0])
print(a[-1])

10
10.2

In [14]:
#slicing  listname[start:stop]
print(a[0:2]) # position 2 is not included stop is not included
print(a[1:-1])
print(a[1:])
print(a[:-1])
print(a[::2])
print(a[::-1])

[10, 'string']
['string', True, []]
['string', True, [], 10.2]
[10, 'string', True, []]
[10, True, 10.2]
[10.2, [], True, 'string', 10]

In [20]:
a.append('hello')
print(a)
b = ['hi','hello','testt']
print(a+b)
c = [a,b]
print(c)

[10, 'string', True, [], 10.2, 'hello']
[10, 'string', True, [], 10.2, 'hello', 'hi', 'hello', 'testt']
[[10, 'string', True, [], 10.2, 'hello'], ['hi', 'hello', 'testt']]

In [21]:
a.insert(0,'testing')
print(a)

['testing', 10, 'string', True, [], 10.2, 'hello']

In [22]:
b.remove('hi')
print(b)
## Just pop will Remove and return the last element pop(index) will remove the element from particular index.
b.pop(-1)
print(b)

['hello', 'testt']
['hello']

In [23]:
a[0] = 20

In [24]:
print( a )

[20, 10, 'string', True, [], 10.2, 'hello']

In [25]:
e = [1,0,3,5,2,8,6]
e.sort()
print(e)
e.sort(reverse=True)
print(e)

[0, 1, 2, 3, 5, 6, 8]
[8, 6, 5, 3, 2, 1, 0]

In [26]:
#creating a copy of the list
f = [1,2,3,4,5,6,7,8]
new_list = f[:]
print(new_list)

new_list[3] = 10
print(new_list)
print(f)

new_list_copy = f.copy()
new_list_copy[3] = 11
print(new_list_copy)
print(f)

new_list_copy_1 = f
new_list_copy_1[3] = 12
print(new_list_copy_1)
print(f)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 10, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 11, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 12, 5, 6, 7, 8]
[1, 2, 3, 12, 5, 6, 7, 8]

In [27]:
# Create
names = ['test','best','rest','nest']

In [28]:
#Read
print(names)
print(names[-1])

['test', 'best', 'rest', 'nest']
nest

In [29]:
len(names)

4

In [30]:
#Update
names[0] ='chest'
print(names)
names.append('fest')
print(names)
names.insert(2,'test')
print(names)

['chest', 'best', 'rest', 'nest']
['chest', 'best', 'rest', 'nest', 'fest']
['chest', 'best', 'test', 'rest', 'nest', 'fest']

In [31]:
## to get the details of a particular function
names.append??

In [32]:
# Delete
del names[-1]
print(names)
del names[2]
print(names)

['chest', 'best', 'test', 'rest', 'nest']
['chest', 'best', 'rest', 'nest']

In [33]:
fruits = ['apple', 'banana', 'cherry', 'kiwi', 'gauva']
print(fruits)
fruits[1:] = 'watermelon'
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'gauva']
['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [34]:
fruit_index = fruits.index('apple')
print(fruit_index)
print(fruits.count("e"))
fruits.reverse()
print(fruits)
fruits.clear()
print(fruits)

0
2
['n', 'o', 'l', 'e', 'm', 'r', 'e', 't', 'a', 'w', 'apple']
[]

In [35]:
## Iterating with index
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for index,number in enumerate(numbers):
    print(index,number)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [36]:
#List comprehension
#1. Basics Syntax [expression for item in iterable]
lst=[]
for x in range(10):
    lst.append(x**2)

print(lst)
# can be written as
print([x**2 for x in range(10)])

#2.with conditional logic [expression for item in iterable if condition]
lst1=[]
for i in range(10):
    if i%2==0:
        lst1.append(i)

print(lst1)
#can be written as
even_numbers=[num for num in range(10) if num%2==0]
print(even_numbers)

#3.Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]
lst1=[1,2,3,4]
lst2=['a','b','c','d']

pair=[[i,j] for i in lst1 for j in lst2]

print(pair)

## List Comprehension with function calls
words = ["hello", "world", "python", "list", "comprehension"]
lengths = [len(word) for word in words]
print(lengths)  # Output: [5, 5, 6, 4, 13]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8]
[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]
[5, 5, 6, 4, 13]

## **b. Tuple**
 Tuple is similar to list tuple is enclosed with '()' the difference between tuple and list is tuple is immutable that is it cannot be changed.

In [41]:
tuple_variable = (10,'string',True,[],10.2)
print(tuple_variable)

(10, 'string', True, [], 10.2)

In [ ]:
tuple_variable[0] = 20

TypeError: 'tuple' object does not support item assignment

if you want to modify a tuple convert it to list change the values and convert it back to a tuple

In [37]:
tuple_example = (1,2,3,4,5)
converted_to_list = list(tuple_example)
print( converted_to_list )
converted_to_list[0] = 6
converted_to_tuple = tuple(converted_to_list)
print( converted_to_tuple )

[1, 2, 3, 4, 5]
(6, 2, 3, 4, 5)

In [38]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [40]:
numbers=tuple([1,2,3,4,5,6])
print(numbers[2])
print(numbers[-1])
print(numbers[0:4])
print(numbers[::-1])

3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [42]:
concatenation_tuple=numbers + tuple_variable
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 10, 'string', True, [], 10.2)

In [43]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [44]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [45]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [46]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [47]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [49]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(lst[0][0:3])
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
print(lst[2][0:3])

[1, 2, 3]
(1, 'Hello', 3.14)

In [50]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [51]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

## **c. Set**

Sets are a built-in data type in Python used to store collections of unique items. They are unordered, meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and symmetric difference.

In [1]:
set_variable = {10,'string',True,[],10.2}
# here error is thrown because of the empty list

TypeError: unhashable type: 'list'

In [2]:
set_example_1 = {1,2,3,4.5,6,'test',True}


1.   Sets are immutable.
2.   Sets cannot have same value.

In [3]:
set_example_2 = {1,2,3,4,1,2}
print(set_example_2)

{1, 2, 3, 4}

In [4]:
# Remove multiple values from the list
list_example = [1,2,3,5,6,1,3,4,5]
unique_values = list(set(list_example))
print(unique_values)

[1, 2, 3, 4, 5, 6]

In [5]:
set_example_2.add(7)
print("add", set_example_2)
set_example_2.remove(3)
print("remove", set_example_2)
# discard doesnt throw any error if the element doesnt exist
set_example_2.discard(11)
print("discard", set_example_2)
removed_element=set_example_2.pop()
print("removed element", removed_element)
print("after removed element",set_example_2)

add {1, 2, 3, 4, 7}
remove {1, 2, 4, 7}
discard {1, 2, 4, 7}
removed element 1
afrer removed element {2, 4, 7}

In [6]:
#clear all the elemets of the set
set_example_2.clear()
print("clear",set_example_2)

clear set()

In [7]:
## Set Memebership test
my_set={1,2,3,4,5}
print("3 is present in test", 3 in my_set)
print("10 is present in test", 10 in my_set)

3 is present in test True
10 is present in test False

In [8]:
## MAthematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

### Union
union_set=set1.union(set2)
print("union",union_set)

## Intersection
intersection_set=set1.intersection(set2)
print("intersection",intersection_set)

set1.intersection_update(set2)
print("intersection update",set1)

set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

## Difference
print("difference",set1.difference(set2))

## Symmetric Difference
print("symmetric difference",set1.symmetric_difference(set2))

## Sets Methods
set1={1,2,3,4,5}
set2={3,4,5}

## is subset
print("subset", set1.issubset(set2))

print("superset", set1.issuperset(set2))

union {1, 2, 3, 4, 5, 6, 7, 8, 9}
intersection {4, 5, 6}
intersection update {4, 5, 6}
difference {1, 2, 3}
symmetric difference {1, 2, 3, 7, 8, 9}
subset False
superset True

## **d. Dictionary**
 Dictionaries are unordered collections of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers, or tuples), while values can be of any type.they are mutable

In [10]:
dict_variable = {'a':'1','b':2,'c':3.0,'d':[1,2],'e':(1,2),'f':{1,2} }
dict_variable['a']

'1'

In [11]:
#create an empty dict using dict method()
empty_dict=dict()
empty_dict

{}

In [12]:
# Single key is slways used
student={"name":"Krish","age":32,"name":24}
print(student)
#In Python, when you define a dictionary with duplicate keys, the last value assigned to that key will overwrite any previous values

{'name': 24, 'age': 32}

In [13]:
#Create
dict_example = {'a':'1','b':2,'c':3.0,'d':[1,2],'e':(1,2),'f':{1,2} }

In [15]:
# Read
print("dict_exammple",dict_example)
print("access f using get", dict_example.get('f'))
print("access d using get else print not available", dict_example.get('d',"Not Available"))
print("access g using get else print not available", dict_example.get('g',"Not Available"))
print("access e element", dict_example['e'])
print("print all keys",dict_example.keys())
print("print all values", dict_example.values())
print("print all items", dict_example.items())

dict_exammple {'a': '1', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}}
access f using get {1, 2}
access d using get else print not available [1, 2]
access g using get else print not available Not Available
access e element (1, 2)
print all keys dict_keys(['a', 'b', 'c', 'd', 'e', 'f'])
print all values dict_values(['1', 2, 3.0, [1, 2], (1, 2), {1, 2}])
print all items dict_items([('a', '1'), ('b', 2), ('c', 3.0), ('d', [1, 2]), ('e', (1, 2)), ('f', {1, 2})])

In [16]:
#Update
dict_example['a'] = '2'
print("update a", dict_example)
dict_example['g'] = {'0':'1'}
print("update g", dict_example)
dict_example.update({'h':2})
print("add h",dict_example)

update a {'a': '2', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}}
update g {'a': '2', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}, 'g': {'0': '1'}}
add h {'a': '2', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}, 'g': {'0': '1'}, 'h': 2}

In [17]:
#Delete
print(dict_example['d'])
del dict_example["d"]
print("d is deleted" ,dict_example)
dict_example.pop("e")
print("e is removed using pop",dict_example)
dict_example.clear()
print("entire dictionary is cleared",dict_example)

[1, 2]
d is deleted {'a': '2', 'b': 2, 'c': 3.0, 'e': (1, 2), 'f': {1, 2}, 'g': {'0': '1'}, 'h': 2}
e is removed using pop {'a': '2', 'b': 2, 'c': 3.0, 'f': {1, 2}, 'g': {'0': '1'}, 'h': 2}
entire dictionary is cleared {}

In [18]:
#copy a dictionary
new_dict = dict_example.copy()
print("new dict", new_dict)
new_dict['a'] = 3
print("new dict after update", new_dict)
print("old dict after update", dict_example)
new_dict_1 = dict_example
new_dict_1['a'] = 4
print("new dict after update", new_dict_1)
print("old dict after update", dict_example)

new dict {}
new dict after update {'a': 3}
old dict after update {}
new dict after update {'a': 4}
old dict after update {'a': 4}

In [19]:
### Iterating Over Dictionaries
## You can use loops to iterate over dictionatries, keys,values,or items
students = {"name":"Krish","age":32,"grade":'A'}
## Iterating over keys
for keys in student.keys():
    print("keys",keys)

## Iterate over values
for value in student.values():
    print("values",value)

## Iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

keys name
keys age
values 24
values 32
name:24
age:32

In [20]:
## Nested Disctionaries
students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [21]:
## Access nested dictionaries elementss
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [22]:
students.items()

dict_items([('student1', {'name': 'Krish', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

In [23]:
## Iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'Krish', 'age': 32}
name:Krish
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

In [24]:
## Dictionary Comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [25]:
## Condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [26]:
## Merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}

# **5. Operators**

###Arithmetic Operators
1.   Addition
2.   Subtraction
3.   Multiplication
4.   Division
5.   Floor division
6.   Modulus
7.   Exponentiation


###Comparison Operators
1.   Equal to
2.   Not equal to
3.   Greater than
4.   Less than
5.   Greater than or equal to
6.   Less than or equal to


###Logical Operators
1. AND
2. OR
3. NOT

In [ ]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [ ]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [ ]:
str1="Krish"
str2="Krish"

str1==str2

True

In [ ]:
## Not Equal to !=
str1!=str2

False

In [ ]:
str3="Krish"
str4="krish"

str3!=str4

True

In [ ]:
# greater than >
num1=45
num2=55
num1>num2

False

In [ ]:
## less than <
print(num1<num2)

True

In [ ]:
#greater than or equal to
number1=45
number2=45
print(number1>=number2)

True

In [ ]:
#less than or equal to
number1=44
number2=45
print(number1<=number2)

True

In [ ]:
## And ,Not,OR
X=True
Y=True
result =X and Y
print(result)

True

In [ ]:
X=False
Y=True
result =X and Y
print(result)

False

In [ ]:
## OR
X=False
Y=False
result =X or Y
print(result)

False

In [ ]:
# Not operator
X=False
not X

True

Commands
 1.  To create virtual env using anaconda : conda create -p venv python==3.12
 2.  To activate tne environment: conda activate venv
 3.  Run a python file : python app.py
 4.

# **7. Conditions**

## **a. If statement**

In [ ]:
#if statement
name = 10
if name == 10:
  print("hello")
name = '10'
if name == 10:
  print("hello 1")
if name == str(10):
  print("hello 2")
if 0 == False:
  print("hello 3")

In [ ]:
test = 1
if test == 1:
  print('test')
elif test == 2:
  print('test1')
else:
  print('test3')

In [ ]:
test_values = ['a','b','c']
if 'a' in test_values:
  print('a')
elif 'm' in test_values:
  print('m')
else:
   print('test')

In [ ]:
#Escape statement
print('Elon\'s here')

## **b. Loops**

In [ ]:
names = ['a','c','d','e','b','f']
for name in names:
  if name == 'a':
    print('test',name)
    continue
  elif name == 'b':
    print('hello',name)
    break
  else:
    print(name)
  print('testtt')
#observe f is not printed because it encounters break after b and for 'a' loop 'test' is not printed because of continue

In [ ]:
for i in range(1,10,2):
  print(i)

In [ ]:
# 'pass' can be instead of empty condition block
a = 20
if a == 10:
  print('hello')
else:
  pass

In [ ]:
for i in range(10):
  print(i)
print('\n')
for i in range(1,10):
  print(i)

In [ ]:
num = 0
sum = 5
while True:
  print('Shuttle {} launched'.format(num))
  num += 1
  if num > sum:
    break

In [ ]:
set_val = {'a':1,'b':2,'c':3,'d':4}
for key in set_val.keys():
  print(key)
print('\n')
for val in set_val.values():
  print(val)

In [ ]:
for key,val in set_val.items():
  print('test',key,val)