<a href="https://colab.research.google.com/github/NehaSrinivas98/MachineLearningCourse/blob/main/pythonAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program that prints a 5x5 grid of asterisks (*) using nested loops.

In [ ]:
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

2. Write a program that asks the user to input numbers until they input 0. The program should print the sum of all the input numbers.

In [ ]:
total = 0
while True:
    res = int(input("Input a number: "))
    if res == 0:
        break
    total += res

print(total)

Input a number: 10
Input a number: 0
10

3.Write a program that prints all the numbers from 1 to 10 except 5 using a for loop and continue statement.

In [ ]:
for i in range(1,11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

4.  Write a program that asks the user to input a number and prints all the even numbers from 1 to that number using a for loop.

In [ ]:
input_number = int(input("Input a number: "))
for i in range(1,input_number+1):
  if i%2 != 0:
    continue
  print(i)

Input a number: 25
2
4
6
8
10
12
14
16
18
20
22
24

5.Write a program that calculates the factorial of a number input by the user using a while loop.

In [ ]:
number = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print(f"The factorial of {number} is {factorial}.")

Enter a number: 20
The factorial of 20 is 2432902008176640000.

6.Write a program that calculates the sum of the digits of a number input by the user using a while loop.

In [ ]:
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number = number // 10
print(f"The sum of the digits is {sum_of_digits}.")

Enter a number: 3456780
The sum of the digits is 33.

7. Prime number check

In [ ]:
number = int(input("Enter a number: "))
is_prime = True
if number <= 1:
    is_prime = False
else:
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
if is_prime:
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

8.Write a program that prints the first n Fibonacci numbers, where n is input by the user.

In [ ]:
n = int(input("Enter the number of Fibonacci numbers to print: "))
a, b = 0, 1
count = 0
while count < n:
    print(a)
    a, b = b, a + b
    count += 1

9.Write a function that rotates a list by n positions. Print the original and rotated lists.

In [ ]:
def rotate_list(lst, n):
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

10.Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [ ]:
def reverse_list(lst):
    return lst[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(f"Original list: {original_list}")
print(f"Reversed list: {reversed_list}")

11.Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

12.Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [ ]:
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Flattened list:")
print(flattened)

Original nested list:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

13.Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [ ]:
def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("Original matrix:")
for row in matrix:
    print(row)
print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

14.
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [ ]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted students by score in descending order:")
for student in sorted_students:
    print(student)

Sorted students by score in descending order:
{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

15.Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [3, 4, 20, 15, 14, 11, 9, 20, 6, 19, 11, 6, 7, 18, 15]
Sorted in ascending order: [3, 4, 6, 6, 7, 9, 11, 11, 14, 15, 15, 18, 19, 20, 20]
Sorted in descending order: [20, 20, 19, 18, 15, 15, 14, 11, 11, 9, 7, 6, 6, 4, 3]
List with duplicates removed: [3, 4, 6, 7, 9, 11, 14, 15, 18, 19, 20]

16.Tuple operations

In [4]:
tpl = tuple(range(1, 11))
print(tpl)
print('First element',tpl[0])
print('Last element',tpl[-1])
print('middle element',tpl[len(tpl) // 2])
print('First 3 elements',tpl[0:3])
print('Last 3 elements',tpl[-3:])
print('Elements from 2 to 5 position',tpl[2:6])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
First element 1
Last element 10
middle element 6
First 3 elements (1, 2, 3)
Last 3 elements (8, 9, 10)
Elements from 2 to 5 position (3, 4, 5, 6)

17.Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [8]:
tpl_matrix = ((1,2,3),(4,5,6),(7,8,9))
print('2nd row 3rd column',tpl_matrix[1][2])

2nd row 3rd column 6

18.Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [9]:
tp1=(1,2,3)
tp2=(4,5,6)
print('Concatenated tuple',tp1+tp2)

Concatenated tuple (1, 2, 3, 4, 5, 6)