<a href="https://colab.research.google.com/github/NehaSrinivas98/MachineLearningCourse/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.youtube.com/watch?v=yGN28LY5VuA&t=403s

# **1. Basics**

In [1]:
print("hello 123")

hello 123

Syntax refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of words and symbols in a code.

Semantics refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

In [2]:
''' shortcuts :
 # 1. a : add a cell above
 # 2. b : add a cell above
 # 3. m : conver the cell to markdown
 # 4. y: convert cell to code
 # 5. dd: delete cell
 # 6. shift + enter is used to run the cell
 '''
#Using triple-quoted string literals: Triple single quotes (''') or triple double quotes (""") can be used to enclose a multi-line string. If this string is not assigned to a variable or used in an expression, the Python interpreter will ignore it, effectively treating it as a multi-line comment.

' shortcuts :\n # 1. a : add a cell above\n # 2. b : add a cell above\n # 3. m : conver the cell to markdown\n # 4. y: convert cell to code\n # 5. dd: delete cell\n # 6. shift + enter is used to run the cell\n '

In [3]:
'''
 1. h1 heading: #
 2. h2 heading: ##
'''

'\n 1. h1 heading: #\n 2. h2 heading: ##\n'

In [4]:
# To get a documentation of a particular function use '??'
print??

In [5]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [ ]:

## Multiple Statements on a single line
x=5;y=10;z=x+y
print(z)

Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

# **2. Variables**

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.Python is dynamically typed,type of a variable is determined at runtime

In [6]:
test = 'test'

***Rules for writing a variable***

1.   Variable names can only contain letters, digits and underscores (_).
2.   A variable name cannot start with a digit.
3.   Variable names are case-sensitive (myVar and myvar are different).
4.   Avoid using Python keywords (e.g., if, else, for) as variable names.

In [7]:
type(test)

str

In [8]:
age=int(input("What is the age"))
print(age,type(age))

What is the age30
30 <class 'int'>

# **3. Basic Data types**

* Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
* They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

In [9]:
string_variable = 'string'
integer_variable = 123
float_variable = 12.31
# boolean variable
true_variable = True
false_variable = False

In [10]:
type_casting_variable_str = str(123)
print(type(type_casting_variable_str))

type_casting_variable_int = int('1234')
print(type(type_casting_variable_int))

type_casting_variable_float = float(123)
print(type(type_casting_variable_float))

type_casting_variable_boolean = bool(0)
print(type(type_casting_variable_boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
# a = 123 + 'str' we cannot add operands of 2 different data types.
# c = 'str' + True

In [12]:
b = 123 + 123.0
print ( b )

246.0

In [11]:
a=10
b=10
type(a==b)

bool

# **4. Advance Data types**

## **a. List**

In [13]:
a = [10,'string',True,[],10.2]

In [14]:
#slicing  listname[start:stop]
print(a[0:2]) # position 2 is not included stop is not included
print(a[1:-1])
print(a[1:])
print(a[:-1])

[10, 'string']
['string', True, []]
['string', True, [], 10.2]
[10, 'string', True, []]

In [15]:
a.append('hello')
print(a)
b = ['hi','hello','testt']
print(a+b)
c = [a,b]
print(c)

[10, 'string', True, [], 10.2, 'hello']
[10, 'string', True, [], 10.2, 'hello', 'hi', 'hello', 'testt']
[[10, 'string', True, [], 10.2, 'hello'], ['hi', 'hello', 'testt']]

In [16]:
a.insert(0,'testing')
print(a)

['testing', 10, 'string', True, [], 10.2, 'hello']

In [17]:
b.remove('hi')
print(b)
b.pop(-1)
print(b)

['hello', 'testt']
['hello']

In [18]:
a[0] = 20

In [19]:
print( a )

[20, 10, 'string', True, [], 10.2, 'hello']

In [20]:
e = [1,0,3,5,2,8,6]
e.sort()
print(e)
e.sort(reverse=True)
print(e)

[0, 1, 2, 3, 5, 6, 8]
[8, 6, 5, 3, 2, 1, 0]

In [21]:
#creating a copy of the list
f = [1,2,3,4,5,6,7,8]
new_list = f[:]
print(new_list)

new_list[3] = 10
print(new_list)
print(f)

new_list_copy = f.copy()
new_list_copy[3] = 11
print(new_list_copy)
print(f)

new_list_copy_1 = f
new_list_copy_1[3] = 12
print(new_list_copy_1)
print(f)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 10, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 11, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 12, 5, 6, 7, 8]
[1, 2, 3, 12, 5, 6, 7, 8]

In [35]:
# Create
names = ['test','best','rest','nest']

In [36]:
#Read
print(names)
print(names[-1])

['test', 'best', 'rest', 'nest']
nest

In [37]:
len(names)

4

In [38]:
#Update
names[0] ='chest'
print(names)
names.append('fest')
print(names)
names.insert(2,'test')
print(names)

['chest', 'best', 'rest', 'nest']
['chest', 'best', 'rest', 'nest', 'fest']
['chest', 'best', 'test', 'rest', 'nest', 'fest']

In [39]:
## to get the details of a particular function
names.append??

In [40]:
# Delete
del names[-1]
print(names)
del names[2]
print(names)

['chest', 'best', 'test', 'rest', 'nest']
['chest', 'best', 'rest', 'nest']

## **b. Tuple**
 Tuple is similar to list tuple is enclosed with '()' the difference between tuple and list is tuple is immutable that is it cannot be changed.

In [22]:
tuple_variable = (10,'string',True,[],10.2)
print(tuple_variable)

(10, 'string', True, [], 10.2)

In [23]:
tuple_variable[0] = 20

TypeError: 'tuple' object does not support item assignment

if you want to modify a tuple convert it to list change the values and convert it back to a tuple

In [24]:
tuple_example = (1,2,3,4,5)
converted_to_list = list(tuple_example)
converted_to_list[0] = 6
converted_to_tuple = tuple(converted_to_list)
print( converted_to_tuple )

(6, 2, 3, 4, 5)

## **c. Set**

In [25]:
set_variable = {10,'string',True,[],10.2}
# here error is thrown because of the empty list

TypeError: unhashable type: 'list'

In [26]:
set_example_1 = {1,2,3,4.5,6,'test',True}


1.   Sets are immutable.
2.   Sets cannot have same value.

In [27]:
set_example_2 = {1,2,3,4,1,2}
print(set_example_2)

{1, 2, 3, 4}

In [28]:
# Remove multiple values from the list
list_example = [1,2,3,5,6,1,3,4,5]
unique_values = list(set(list_example))
print(unique_values)

[1, 2, 3, 4, 5, 6]

## **d. Dictionary**
 they are mutable

In [29]:
dict_variable = {'a':'1','b':2,'c':3.0,'d':[1,2],'e':(1,2),'f':{1,2} }
dict_variable['a']

'1'

In [30]:
#Create
dict_example = {'a':'1','b':2,'c':3.0,'d':[1,2],'e':(1,2),'f':{1,2} }

In [31]:
# Read
print(dict_example)
print(dict_example['e'])
print(dict_example.keys())
print(dict_example.values())

{'a': '1', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}}
(1, 2)
dict_keys(['a', 'b', 'c', 'd', 'e', 'f'])
dict_values(['1', 2, 3.0, [1, 2], (1, 2), {1, 2}])

In [32]:
#Update
dict_example['a'] = '2'
print(dict_example)
dict_example['g'] = {'0':'1'}
print(dict_example)
dict_example.update({'h':2})
print(dict_example)

{'a': '2', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}}
{'a': '2', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}, 'g': {'0': '1'}}
{'a': '2', 'b': 2, 'c': 3.0, 'd': [1, 2], 'e': (1, 2), 'f': {1, 2}, 'g': {'0': '1'}, 'h': 2}

In [33]:
#Delete
print(dict_example['d'])
del dict_example["d"]
print(dict_example)
dict_example.pop("e")
print(dict_example)
dict_example.clear()
print(dict_example)

[1, 2]
{'a': '2', 'b': 2, 'c': 3.0, 'e': (1, 2), 'f': {1, 2}, 'g': {'0': '1'}, 'h': 2}
{'a': '2', 'b': 2, 'c': 3.0, 'f': {1, 2}, 'g': {'0': '1'}, 'h': 2}
{}

In [34]:
#copy a dictionary
new_dict = dict_example.copy()
print(new_dict)
new_dict['a'] = 3
print(new_dict)
print(dict_example)
new_dict_1 = dict_example
new_dict_1['a'] = 4
print(new_dict_1)
print(dict_example)

{}
{'a': 3}
{}
{'a': 4}
{'a': 4}

# **5. Operators**

###Arithmetic Operators
1.   Addition
2.   Subtraction
3.   Multiplication
4.   Division
5.   Floor division
6.   Modulus
7.   Exponentiation


###Comparison Operators
1.   Equal to
2.   Not equal to
3.   Greater than
4.   Less than
5.   Greater than or equal to
6.   Less than or equal to


###Logical Operators
1. AND
2. OR
3. NOT