<a href="https://colab.research.google.com/github/NehaSrinivas98/MachineLearningCourse/blob/main/pythonAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program that prints a 5x5 grid of asterisks (*) using nested loops.

In [ ]:
for i in range(5):
    for j in range(5):
        print("*", end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

2. Write a program that asks the user to input numbers until they input 0. The program should print the sum of all the input numbers.

In [ ]:
total = 0
while True:
    res = int(input("Input a number: "))
    if res == 0:
        break
    total += res

print(total)

Input a number: 10
Input a number: 0
10

3.Write a program that prints all the numbers from 1 to 10 except 5 using a for loop and continue statement.

In [ ]:
for i in range(1,11):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

4.  Write a program that asks the user to input a number and prints all the even numbers from 1 to that number using a for loop.

In [ ]:
input_number = int(input("Input a number: "))
for i in range(1,input_number+1):
  if i%2 != 0:
    continue
  print(i)

Input a number: 25
2
4
6
8
10
12
14
16
18
20
22
24

5.Write a program that calculates the factorial of a number input by the user using a while loop.

In [ ]:
number = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= number:
    factorial *= i
    i += 1
print(f"The factorial of {number} is {factorial}.")

Enter a number: 20
The factorial of 20 is 2432902008176640000.

6.Write a program that calculates the sum of the digits of a number input by the user using a while loop.

In [ ]:
number = int(input("Enter a number: "))
sum_of_digits = 0
while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number = number // 10
print(f"The sum of the digits is {sum_of_digits}.")

Enter a number: 3456780
The sum of the digits is 33.

7. Prime number check

In [ ]:
number = int(input("Enter a number: "))
is_prime = True
if number <= 1:
    is_prime = False
else:
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            is_prime = False
            break
if is_prime:
    print(f"{number} is a prime number.")
else:
    print(f"{number} is not a prime number.")

8.Write a program that prints the first n Fibonacci numbers, where n is input by the user.

In [ ]:
n = int(input("Enter the number of Fibonacci numbers to print: "))
a, b = 0, 1
count = 0
while count < n:
    print(a)
    a, b = b, a + b
    count += 1

9.Write a function that rotates a list by n positions. Print the original and rotated lists.

In [ ]:
def rotate_list(lst, n):
    return lst[n:] + lst[:n]

original_list = [1, 2, 3, 4, 5]
rotated_list = rotate_list(original_list, 2)
print(f"Original list: {original_list}")
print(f"Rotated list: {rotated_list}")

Original list: [1, 2, 3, 4, 5]
Rotated list: [3, 4, 5, 1, 2]

10.Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [ ]:
def reverse_list(lst):
    return lst[::-1]

original_list = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original_list)
print(f"Original list: {original_list}")
print(f"Reversed list: {reversed_list}")

11.Create two lists of the same length. Use the `zip` function to combine these lists into a list of tuples and print the result.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c', 'd', 'e']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

12.Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [ ]:
def flatten_list(nested_list):
    flat_list = [item for sublist in nested_list for item in sublist]
    return flat_list
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
flattened = flatten_list(nested_list)
print("Original nested list:")
print(nested_list)
print("Flattened list:")
print(flattened)

Original nested list:
[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Flattened list:
[1, 2, 3, 4, 5, 6, 7, 8, 9]

13.Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [ ]:
def transpose_matrix(matrix):
    transposed = [[matrix[j][i] for j in range(len(matrix))] for i in range(len(matrix[0]))]
    return transposed

matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose_matrix(matrix)
print("Original matrix:")
for row in matrix:
    print(row)
print("Transposed matrix:")
for row in transposed:
    print(row)

Original matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed matrix:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

14.
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [ ]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 72},
    {'name': 'Charlie', 'score': 95},
    {'name': 'David', 'score': 65},
    {'name': 'Eve', 'score': 78}
]
sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print("Sorted students by score in descending order:")
for student in sorted_students:
    print(student)

Sorted students by score in descending order:
{'name': 'Charlie', 'score': 95}
{'name': 'Alice', 'score': 88}
{'name': 'Eve', 'score': 78}
{'name': 'Bob', 'score': 72}
{'name': 'David', 'score': 65}

15.Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [ ]:
import random

random_numbers = [random.randint(1, 20) for _ in range(15)]
print(f"Original list: {random_numbers}")

sorted_numbers = sorted(random_numbers)
print(f"Sorted in ascending order: {sorted_numbers}")

sorted_numbers_desc = sorted(random_numbers, reverse=True)
print(f"Sorted in descending order: {sorted_numbers_desc}")

unique_numbers = list(set(random_numbers))
print(f"List with duplicates removed: {unique_numbers}")

Original list: [3, 4, 20, 15, 14, 11, 9, 20, 6, 19, 11, 6, 7, 18, 15]
Sorted in ascending order: [3, 4, 6, 6, 7, 9, 11, 11, 14, 15, 15, 18, 19, 20, 20]
Sorted in descending order: [20, 20, 19, 18, 15, 15, 14, 11, 11, 9, 7, 6, 6, 4, 3]
List with duplicates removed: [3, 4, 6, 7, 9, 11, 14, 15, 18, 19, 20]

16.Tuple operations

In [ ]:
tpl = tuple(range(1, 11))
print(tpl)
print('First element',tpl[0])
print('Last element',tpl[-1])
print('middle element',tpl[len(tpl) // 2])
print('First 3 elements',tpl[0:3])
print('Last 3 elements',tpl[-3:])
print('Elements from 2 to 5 position',tpl[2:6])

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
First element 1
Last element 10
middle element 6
First 3 elements (1, 2, 3)
Last 3 elements (8, 9, 10)
Elements from 2 to 5 position (3, 4, 5, 6)

17.Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
tpl_matrix = ((1,2,3),(4,5,6),(7,8,9))
print('2nd row 3rd column',tpl_matrix[1][2])

2nd row 3rd column 6

18.Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [ ]:
tp1=(1,2,3)
tp2=(4,5,6)
print('Concatenated tuple',tp1+tp2)

Concatenated tuple (1, 2, 3, 4, 5, 6)

19.Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
print(f"Occurrences of 4: {tpl.count(4)}")
print(f"Index of first occurrence of 2: {tpl.index(2)}")

20.Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tpl = (1, 2, 3, 4, 5)
a, b, c, d, e = tpl
print(a, b, c, d, e)

1 2 3 4 5

21.Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
lst = [1, 2, 3, 4, 5]
tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

22.Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tpl_matrix = ((1,2,3),(4,5,6),(7,8,9))
for tpl in tpl_matrix:
  print(tpl)

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

23.Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
tpl = tuple(range(1,6))
print('tuple',tpl)
tpl_converted_to_list = list(tpl)
print('tuple converted to list',tpl_converted_to_list)
tpl_converted_to_list.append(6)
print('List with number 6',tpl_converted_to_list)
lst_back_to_tuple = tuple(tpl_converted_to_list)
print('list back to tuple',lst_back_to_tuple)

tuple (1, 2, 3, 4, 5)
tuple converted to list [1, 2, 3, 4, 5]
List with number 6 [1, 2, 3, 4, 5, 6]
list back to tuple (1, 2, 3, 4, 5, 6)

24.Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
string_tple = ('t','e','s','t','i','n','g')
final_string = ''
for i in string_tple:
  final_string += i
print(final_string)

testing

In [ ]:
string = "hello"
tpl = tuple(string)
joined_string = ''.join(tpl)
print(joined_string)

hello

25.Create a dictionary with tuple keys and integer values. Print the dictionary.

In [ ]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

26.Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
nested_tpl = ((1,2,3),(4,5,6),(7,8,9))
for i in nested_tpl:
  for j in i:
    print(j)

1
2
3
4
5
6
7
8
9

27.Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique_set = set(tpl)
print(unique_set)

{1, 2, 3, 4, 5}

28.Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

29.Set operations

In [5]:
#create
set_val = set(range(1,11))
print("set",set_val)

#update
set_val.add(11)
set_val.remove(1)
print('updated set',set_val)

set {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
updated set {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

30. Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [ ]:
set1 = set(range(1, 6))
set2 = set(range(2, 11, 2))
print(f"Union: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

31.Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [6]:
squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

32.Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [7]:
set1 = set(range(1, 6))
set2 = set(range(1, 4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

33.Create a frozenset with the first 5 positive integers. Print the frozenset.

A frozenset in Python is an immutable version of a standard set. Like a regular set, it is an unordered collection of unique elements, but once created, its contents cannot be modified (no elements can be added, removed, or changed).

In [8]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

34.Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [11]:
set_var = set(range(1,6))
print('set',set_var)
set_converted_to_list = list(set_var)
set_converted_to_list.append(6)
set_var = set(set_converted_to_list)
print('list',set_var)

set {1, 2, 3, 4, 5}
list {1, 2, 3, 4, 5, 6}

35.Create a dictionary with set keys and integer values. Print the dictionary.

In [12]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [14]:
#36.iterating over set
s = set(range(1, 6))
for elem in s:
    print('elem',elem)

#check if an element is present in the set
print(3 in s)
print(6 in s)

#removing a element
while s:
    s.pop()
    print(s)

elem 1
elem 2
elem 3
elem 4
elem 5
True
False
{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

37.Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [15]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

38.Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [16]:
d = {i: i**2 for i in range(1, 11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

39.Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary.

In [1]:
multiples = {i:[i*j for j in range(1,6)]for i in range(1,6)}
print(multiples)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

40.Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [4]:
squares = {i:(i,i**2) for i in range(1,6)}
print(squares)
list_of_tuples = list(squares.items())
print(list_of_tuples)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}
[(1, (1, 1)), (2, (2, 4)), (3, (3, 9)), (4, (4, 16)), (5, (5, 25))]

41.Create a new dictionary containing only the key-value pairs where the key is even.

In [8]:
dictionary = {i : i**2 for i in range(1,20)}
print(dictionary)
even_dict = {k:v for k,v in dictionary.items() if k%2 == 0}
print(even_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144, 14: 196, 16: 256, 18: 324}

43.Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [11]:
positive_dict ={ i: i**2 for i in range(1,6)}
print(positive_dict)
swapped = {v:k for k,v in positive_dict.items()}
print(swapped)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}